---
// TODO: Utilize the patterns setup by the new subsite layout.
import { type PageMetadata } from "@lib/types";
import { getCollection } from "astro:content";

interface Props {
  title?: String;
  metadata: PageMetadata;
}

import "src/styles/bootstrap.scss";

import Branding from "@components/Branding.astro";
import ExternalLink from "@components/ExternalLink.astro";
import { Icon } from "astro-icon/components";
import Metadata from "@components/Metadata.astro";

const { metadata, title } = Astro.props;
if (!metadata.site) metadata.site = "Digital Accessibility Framework";

const entries = await getCollection("daf");
entries.sort((a, b) => a.data.order - b.data.order);

const navLinks = Object.fromEntries(
  entries.map((entry) => [
    entry.data.title,
    `/daf/${entry.id == "overview" ? "" : entry.id + "/"}`,
  ]),
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    {/* Keep the site out of Bing's Chatbot */}
    <meta name="robots" content="noarchive" />

    {
      metadata && (
        <Metadata {...metadata}>
          <slot name="metadata" slot="metadata" />
        </Metadata>
      )
    }
    <link
      rel="icon"
      type="image/png"
      href="/images/favicon.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/png"
      href="/images/favicon-dark.png"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <slot name="head" />
    <script>
      import { Collapse, Dropdown } from "~bootstrap-es";

      Array.from(document.querySelectorAll(".dropdown")).forEach(
        (node) => new Dropdown(node),
      );
      Array.from(document.querySelectorAll(".collapse")).forEach(
        (node) => new Collapse(node, { toggle: false }),
      );
    </script></head
  >

  <body>
    <header class="sticky-top w-100 d-print-none">
      <nav
        class="navbar navbar-expand-lg bg-primary align-items-center"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <div class="py-2 me-3">
            <p class="navbar-brand mb-0 lh-1 text-light">DAF 1.0</p>
            <p class="navbar-text mb-0 py-0 lh-1 small">
              Digital Accessibility <br />Framework
            </p>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#dafNavbar"
            aria-controls="dafNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="dafNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" data-bs-theme="dark">
              {
                Object.entries(navLinks).map(([name, href]) => {
                  return Astro.url.pathname === href ?
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          aria-current="page"
                          {href}
                          set:text={name}
                        />
                      </li>
                    : <li class="nav-item">
                        <a class="nav-link" {href} set:text={name} />
                      </li>;
                })
              }
              <li class="nav-item">
                <ExternalLink
                  class="nav-link"
                  href="https://docs.google.com/forms/d/e/1FAIpQLSe1VjhbdUUnh2BIBTfdVlU0AayQi-cM8Ors3ALU8OYohj8bOQ/viewform"
                >
                  Feedback
                </ExternalLink>
              </li>
            </ul>
            <a href="/">
              <Icon
                name="ac-logo"
                class="text-light"
                aria-label="Accessible Community Home Page"
              />
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer class="bg-primary text-light py-5 px-5 d-print-none">
      <div class="py-2">
        <div
          class="d-flex flex-column flex-lg-row justify-content-around gap-0 column-gap-5"
        >
          <div class="foundation-stmt">
            <p>
              The <Branding>Digital Accessibility Framework</Branding> is built on
              work by
            </p>
            <ul class="list-spaced">
              <li>
                <ExternalLink
                  href="https://www.w3.org/"
                  inline
                  class="link-light"
                  >World Wide Web Consortium (W3C)</ExternalLink
                >
              </li>
              <li>
                <ExternalLink
                  href="https://www.iso.org/sectors/diversity-inclusion/accessibility"
                  inline
                  class="link-light"
                  >International Standards Organization (ISO)</ExternalLink
                >
              </li>
              <li>
                <ExternalLink
                  href="https://trace.umd.edu/"
                  inline
                  class="link-light"
                  >University of Maryland Trace Research and Development Center</ExternalLink
                >
              </li>
              <li>
                <a class="icon-link link-light align-middle" href="/">
                  <Icon
                    name="ac-logo"
                    class="bi"
                    aria-label="Accessible Community Home Page"
                  /><Branding>Accessible Community</Branding></a
                >
              </li>
            </ul>
          </div>

          <div>
            <h2 class="text-white fw-bold">Editors</h2>
            <ul class="list-unstyled contributors">
              <li class="text-light"> Michael Cooper </li>
              <li class="text-light"> Bern Jordan </li>
              <li class="text-light"> Rachael Bradley Montgomery </li>
            </ul>
          </div>
          <div>
            <h2 class="text-white fw-bold">Contributors</h2>
            <ul class="list-unstyled contributors">
              <li class="text-light"> Alastair Campbell </li>
              <li class="text-light"> Scott Hollier </li>
              <li class="text-light"> Joshue O'Connor </li>
              <li class="text-light"> Lisa Seeman </li>
              <li class="text-light"> Glenda Sims </li>
              <li class="text-light"> Jeanne Spellman </li>
              <li class="text-light"> Jutta Treviranus </li>
              <li class="text-light"> Gregg Vanderheiden </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>

  <style scoped lang="scss">
    @import "../styles/responsive-sizing.scss";

    header {
      min-width: 320px;
    }
    header [data-icon="ac-logo"] {
      height: 2.5rem;
      width: 2.5rem;
    }
    .navbar-text.small {
      font-size: 75%;
    }

    .nav-item {
      margin-right: 0.5em;
    }
    header :global(.nav-link):not(.active) {
      text-decoration: underline;
      text-underline-offset: 0.2em;
    }
    header :global(.nav-link),
    .dropdown-item,
    .dropdown-item:hover {
      color: #d5d5d5;
      font-size: 1.25em;
    }
    header :global(a:focus) {
      outline-color: #fff;
    }

    footer h2 {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
    footer ul.list-unstyled {
      margin-left: 0.75rem;
    }
    footer .icon-link {
      gap: 0.25rem;
    }
    // Possible solution to handling the spaced list on longer names
    // footer .contributors li {
    //   // Doesn't work in Chrome
    //   // text-indent: 5% hanging;
    //   margin-left: 5%;
    // }
    // footer .contributors li::first-letter {
    //   // Doesn't work in Chrome
    //   // text-indent: 5% hanging;
    //   margin-left: -5%;
    // }
    @include media-breakpoint-up(lg) {
      .foundation-stmt {
        max-width: 50%;
      }
    }
  </style>

  <script src="src/scripts/headings.js"></script>
  {
    import.meta.env.PROD && (
      <script
        is:inline
        defer
        data-domain="accessiblecommunity.org"
        src="https://plausible.io/js/script.js"
      />
    )
  }
</html>
