---
import { getCollection } from 'astro:content';
import { getBlogAuthors } from '../../../lib/blog'
import { kebabCase } from 'lodash-es';

export async function getStaticPaths() {
  const authors  = await getBlogAuthors();
  const crumbs = [{
    name: 'Home', href: "/"
  }, {
    name: 'Blog', href: "/blog"
  }, {
    name: 'Authors', href: "/blog/authors"
  }]

  return authors.map(author => ({
    params: { slug: author.slug }, props: { crumbs, author },
  })); 
}

const { crumbs, author } = Astro.props;
const blogs = await getCollection('blogs', ({ data }) => {
  return (data.author.slug === author.slug);
});

import Layout from "../../../layouts/Layout.astro";
import ThemedSection from "../../../components/Section.astro";
---

<Layout crumbs={crumbs} title={author.data.name} heading={`By ${author.data.name}`}>
  <ThemedSection theme="body-tertiary">
    <h2>Recent Blogs</h2>
    <ul>
      { blogs.map(b => 
        <li>
          <a href={`/blog/${b.slug}`}>{ b.data.title } by {author.data.name}</a>
        </li>
      )}
    </ul>
  </ThemedSection>
</Layout>

<style>
  div.fs-6 {
    line-height: 0.9em;
  }
</style>