---
import { getBlogAuthors } from "../../../lib/blog";

const authors = await getBlogAuthors();
const title = "Authors";
const crumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Blog",
    href: "/blog",
  },
];

import ImageHeading from "../../../components/ImageHeading.astro";
import Layout from "../../../layouts/Layout.astro";
import ThemedSection from "../../../components/ThemedSection.astro";
---

<Layout crumbs={crumbs} title={title}>
  <ImageHeading image="blog" slot="header">
    <strong>Blogs</strong> by author
  </ImageHeading>
  <ThemedSection style="tertiary" py={0}>
    <h2 class="text-info-emphasis display-5" set:text={title} />
    <ul>
      {
        authors.map((author) => (
          <li>
            <a href={`/blog/authors/${author.slug}`}>{author.data.name}</a>
          </li>
        ))
      }
    </ul>
  </ThemedSection>
</Layout>
