---
import type { PageMetadata } from "@lib/types";
import type { SocialLinkDictionary } from "@components/SocialLinks.astro";

import { getCollection, render, type CollectionEntry } from "astro:content";
import { sortBy } from "lodash-es";

type PodcastLinks = CollectionEntry<"podcastShows">["data"]["links"];

const shows: CollectionEntry<"podcastShows">[] = sortBy(
  await getCollection("podcastShows"),
  [(show) => show.data.title],
);
const staff: CollectionEntry<"staff">[] = sortBy(
  await getCollection(
    "staff", ({data}) => data.current && Object.keys(data.roles ?? {}).includes("podcasts")
  ),
  // Alphabetize by first name
  ({data}) => data.cited?.first ?? data.name.first,
);

function toUrlMap(links: PodcastLinks): SocialLinkDictionary {
  const urlMap: SocialLinkDictionary = {};
  // @ts-ignore
  Object.entries(links).forEach(([key, value]) => {
    if (value !== null && value !== undefined) {
      urlMap[key] = new URL(value)
    }
  });
  return urlMap;
};

type MusicLink = {name: string, href: string};
type Music = {song: MusicLink, composer: MusicLink, license?: MusicLink};

const music: Music[] = [{
  song: {
    name: "Unforgettable Moments",
    href: "https://freesound.org/people/UNIVERSFIELD/sounds/698550",
  },
  composer: {
    name: "UNIVERSFIELD",
    href: "https://freesound.org/people/UNIVERSFIELD",
  },
  license: {
    name: "CC BY 4.0",
    href: "https://creativecommons.org/licenses/by/4.0/?ref=openverse",
  }
}];

const metadata: PageMetadata = {
  title: "Podcast Series",
  description: "Details of the podcast series that Accessible Community provides",
};

import components from "@lib/mdx";

import Branding from "@components/Branding.astro";
import Column from "@components/Column.astro";
import ExternalLink from "@components/ExternalLink.astro";
import { Image } from "astro:assets";
import ImageHeading from "@components/ImageHeading.astro";
import Layout from "src/layouts/Layout.astro";
import SocialLinks from "@components/SocialLinks.astro";
import StaffList from "@components/StaffList.astro";
import ThemedSection from "@components/ThemedSection.astro";
import ThemedBox from "@components/ThemedBox.astro";
---

<Layout title="Our Podcast" {metadata}>
  <ImageHeading image="podcast" slot="header">
    <h1 class="display-3">Podcast Series</h1>
  </ImageHeading>
  {
    shows.map((show, index) => (
      <ThemedSection style={(index % 2) ? "tertiary" : undefined} id={show.id}>
        {index === 0
        ? <ThemedBox theme="primary" style="subtle" border={1} padding={3} class="mb-5 p-3 rounded">
            <div class="d-flex flex-column flex-lg-row justify-content-center column-gap-3 align-items-center mt-2">
              <p class="lead text-center">Subscribe to the <Branding>Accessible Community</Branding>&nbsp;podcast.</p>
              {
                show.data.links
                ? <SocialLinks links={toUrlMap(show.data.links)} iconSize="1.5em" label="Podcast Locations" />
                : ""
              }
            </div>
          </ThemedBox>
        : "" }
        <h2 class="pb-2 mb-4 border-bottom border-primary" set:text={show.data.title} />
        <div
          class:list={[
            "d-flex flex-column flex-md-row-reverse gap-4",
            // (index % 2) ? "flex-xl-row-reverse" : "flex-xl-row",
            "justify-content-md-evenly align-items-md-start"
          ]}
        >
          <Column md="9" lg="10">
            {render(show).then(({ Content }) => (
              <Content {components} />
            ))}
          </Column>
          <Column md="3" lg="2">
            <Image class="d-none d-md-block logo rounded" src={show.data.image} alt={`${show.data.title} logo`} />
            {/*
            TODO: When we split the series into separate podcasts.
            {
              show.data.links ? (
                <div>
                  <span class="d-md-none display-6 fw-bold align-middle">Available at:</span>
                  <SocialLinks links={toUrlMap(show.data.links)} iconSize="1.5em" label="Podcast Locations" />
                </div>
              ) : (
                <div class="display-7 fw-bold">Coming Soon.</div>
              )
            } */}
          </Column>
        </div>
      </ThemedSection>
    ))
  }
  <ThemedSection style="secondary">
    <h2 class="display-4">Credits and Thanks</h2>
    <h3 class="mt-4 mb-2">Contributors</h3>
    <p>Thank you to all of our staff who help make these podcasts possible.</p>
    <StaffList team="podcasts" size="19rem" />

    <h3 class="mt-4 mb-2">Music</h3>
    <p>
      The following music was used during the creation of these podcasts:
      <ul>
        {
          music.map(({song, composer, license}) => (
            <li>
              <ExternalLink href={song.href} inline> {song.name} </ExternalLink>
              by
              <ExternalLink href={composer.href} inline> {composer.name} </ExternalLink>
              { license && (
                <span>is licensed by</span>
                <ExternalLink href={license.href} inline> {license.name} </ExternalLink>
              )}
            </li>
          ))
        }
      </ul>
    </p>
  </ThemedSection>
</Layout>
<style>
  .logo {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  p:has(+ ul) {
    margin-bottom: 0.25em;
  }
</style>