---
import type { PageMetadata } from "@lib/types";
import type { SocialLinkDictionary } from "@components/SocialLinks.astro";

import { getCollection, render, type CollectionEntry } from "astro:content";
import { type PageMetadata } from "../lib/types";
import { sortBy } from "lodash-es";

type PodcastLinks = CollectionEntry<"podcastShows">["data"]["links"];

const shows: CollectionEntry<"podcastShows">[] = sortBy(
  await getCollection("podcastShows"),
  [(show) => show.data.title],
);
const staff: CollectionEntry<"staff">[] = sortBy(
  await getCollection(
    "staff", ({data}) => data.current && Object.keys(data.roles ?? {}).includes("podcasts")
  ),
  // Alphabetize by first name
  ({data}) => data.cited?.first ?? data.name.first,
);

function toUrlMap(links: PodcastLinks): SocialLinkDictionary {
  const urlMap: SocialLinkDictionary = {};
  // @ts-ignore
  Object.entries(links).forEach(([key, value]) => {
    if (value !== null && value !== undefined) {
      urlMap[key] = new URL(value)
    }
  });
  return urlMap;
};

type MusicLink = {name: string, href: string};
type Music = {song: MusicLink, composer: MusicLink, license?: MusicLink};

const music: Music[] = [{
  song: {
    name: "Unforgettable Moments",
    href: "https://freesound.org/people/UNIVERSFIELD/sounds/698550",
  },
  composer: {
    name: "UNIVERSFIELD",
    href: "https://freesound.org/people/UNIVERSFIELD",
  },
  license: {
    name: "CC BY 4.0",
    href: "https://creativecommons.org/licenses/by/4.0/?ref=openverse",
  }
}];

const metadata: PageMetadata = {
  title: "Podcast Series",
  description: "Details of the podcast series that Accessible Community provides",
};

import components from "@lib/mdx";

import Branding from "@components/Branding.astro";
import ExternalLink from "@components/ExternalLink.astro";
import { Image } from "astro:assets";
import ImageHeading from "@components/ImageHeading.astro";
import Layout from "src/layouts/Layout.astro";
import SocialLinks from "@components/SocialLinks.astro";
import StaffList from "@components/StaffList.astro";
import ThemedSection from "@components/ThemedSection.astro";
import GoogleForm from "@components/forms/GoogleForm.astro";

import ThemedBox from "@components/ThemedBox.astro";
---

<Layout title="Our Podcast" {metadata}>
  <ImageHeading image="podcast" slot="header">
    <h1 class="display-3">Podcast Series</h1>
  </ImageHeading>
  {
    shows.map((show, index) => (
      <ThemedSection style={(index % 2) ? "tertiary" : undefined} id={show.id} py={3}>
        {index === 0
        ? <ThemedBox theme="primary" style="subtle" border={1} padding={3} class="mb-5 p-3 rounded">
            <div class="d-flex flex-column flex-lg-row justify-content-center column-gap-3 align-items-center mt-2">
              <p class="lead text-center">Subscribe to the <Branding>Accessible Community</Branding>&nbsp;podcast.</p>
              {
                show.data.links
                ? <SocialLinks links={toUrlMap(show.data.links)} iconSize="1.5em" label="Podcast Locations" />
                : ""
              }
            </div>
          </ThemedBox>
        : "" }
        <h2 class="pb-2 mb-4 border-bottom border-primary" set:text={show.data.title} />
        <div
          class:list={[
            "d-flex flex-column flex-md-row-reverse gap-4",
            // (index % 2) ? "flex-xl-row-reverse" : "flex-xl-row",
            "justify-content-md-evenly align-items-md-start"
          ]}
        >
          <div class="col col-md-9 col-lg-10">
            {render(show).then(({ Content }) => (
              <Content {components} />
            ))}
          </div>
          <div class="col col-md-3 col-lg-2">
            <Image class="d-none d-md-block logo rounded" src={show.data.image} alt={`${show.data.title} logo`} />
            {/*
            TODO: When we split the series into separate podcasts.
            {
              show.data.links ? (
                <div>
                  <span class="d-md-none display-6 fw-bold align-middle">Available at:</span>
                  <SocialLinks links={toUrlMap(show.data.links)} iconSize="1.5em" label="Podcast Locations" />
                </div>
              ) : (
                <div class="display-7 fw-bold">Coming Soon.</div>
              )
            } */}
          </div>
        </div>
      </ThemedSection>
    ))
  }
  
  <ThemedSection style="tertiary">
    <h2>Share your experience</h2>
    <p>
      Would you like to share your experiences living with disability with our podcasts? Do you have an accessibility success story you would like to share?
      Please complete the sign up form below and we will be in touch.
    </p>
    <GoogleForm
      id="podcastInterviewForm"
      class="col p-4 bg-body form-border interview-form"
      key="TODO"
    >
      <div class="row flex-lg-row">
        <div class="col-lg-6">
          <div class="mb-3">
            {/* Name */}
            <label for="firstNameField" class="form-label mb-1 required-field">
              First name
            </label>
            <span class="asterisk"></span>
            <input
              type="text"
              name="firstName"
              class="form-control w-100"
              id="firstNameField"
              autocomplete="name"
              required
            />
          </div>
        <div class="mb-3">
          <label for="lastNameField" class="form-label mb-1 required-field">
            Last name
          </label>
          <span class="asterisk"></span>
          <input
            type="text"
            name="lastName"
            class="form-control w-100"
            id="lastNameField"
            autocomplete="name"
            required
          />
        </div>

        {/* Email */}
        <div class="mb-3">
          <label for="emailField" class="form-label mb-1 required-field">
            Email
          </label>
          <span class="asterisk"></span>
          <input
            type="text"
            name="Email"
            class="form-control w-100"
            id="emailField"
            aria-describedby="emailHelp"
            required
          />
          <div id="emailHelp" class="form-text small">
            We will only use this address to contact you regarding the
            interview.
            <a href="/privacy-policy" target="_blank">Privacy policy</a>.
          </div>
        </div>

        {/* Disability or Accessibility success topic */}
        <div class="mb-4">
          <label for="topic" class="form-label mb-1 required-field">
            Disability or Accessibility Success Topic
          </label>
          <span class="asterisk"></span>
          <select name="topic" class="form-control w-100" id="topic" required>
            <option value="" disabled selected>Select a topic</option>
            <option value="accessibilitySuccess">Accessibility Success Story</option>
            <option value="other">Other (please specify in comments)</option>
          </select>
        </div>

        <div class="mb-4">
          <input type="checkbox" name="consent" id="consent" class="form-check-input" required />
          <label for="consent" class="form-label mb-1 required-field">
            Would you like your name used or to be anonymous?
          </label>
        </div>

        {/* Accommodations */}
        <div class="mb-3">
          <label for="accommodationField" class="form-label mb-1 required-field">
            Do you need any accomodations to be successful?
          </label>
          <p id="accomodationHelp" class="form-text small">
            Please list any accomodations that you need for the interview or ongoing communciations.
          </p>
          <textarea
            name="accommodations"
            class="form-control w-100"
            id="accommodationField"
            aria-describedby="accomodationHelp"
          />
        </div>

          {/* Comments */}
          <div>
            <label for="comments" class="form-label mb-1 required-field">
              General comments
            </label>
            <textarea
              name="comments"
              class="form-control w-100"
              id="comments"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <h3>What You Can Expect</h3>
          <ul>
            <li>
              A supportive and empathetic interview by a knowledgeable professional.
            </li>
            <li>
              A pre-interview meeting to answer any questions you have, ensure you have the accommodations you need, familiarize you with the process, and ensure you are comfortable answering the questions.
            </li>
            <li>
              We schedule interviews for 1 hour 15 minutes but you control the time. We can stop early or run over, based on your comfort level.
            </li>
            <li>
              We understand concerns about AI and privacy. We commit to not using AI on content associated with your name beyond Zoom transcription used during the interviews.
            </li>
          </ul>
          <h4>Upcoming Topics</h4>
          <p>
            April: Multiple Sclerosis
          </p>
          <p>
            May: TBD
          </p>
        </div>
      </div>
    </GoogleForm>
  </ThemedSection>
  {/* Credits */}
  <ThemedSection style="secondary">
    <h2 class="display-4">Credits and Thanks</h2>
    <h3 class="mt-4 mb-2">Contributors</h3>
    <p>Thank you to all of our staff who help make these podcasts possible.</p>
    <StaffList team="podcasts" size="19rem" />

    <h3 class="mt-4 mb-2">Music</h3>
    <p>
      The following music was used during the creation of these podcasts:
      <ul>
        {
          music.map(({song, composer, license}) => (
            <li>
              <ExternalLink href={song.href} inline> {song.name} </ExternalLink>
              by
              <ExternalLink href={composer.href} inline> {composer.name} </ExternalLink>
              { license && (
                <span>is licensed by</span>
                <ExternalLink href={license.href} inline> {license.name} </ExternalLink>
              )}
            </li>
          ))
        }
      </ul>
    </p>
  </ThemedSection>
</Layout>
<style>
  .logo {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  p:has(+ ul) {
    margin-bottom: 0.25em;
  }
</style>