---
import type { PageMetadata } from "@lib/types";
import { getOpenGraphImageData } from "@lib/og-image";
import components from "@lib/mdx";
import { getEntry, render, type CollectionEntry } from "astro:content";

import Branding from "../components/Branding.astro";
import Hero from "../components/Hero.astro";
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Quote from "@components/Quote.astro";
import ShadowBoxSection from "../components/ShadowBoxSection.astro";
import TeamVignette from "@components/TeamVignette.astro";
import ThemedSection from "../components/ThemedSection.astro";

import heroBg from "../images/colored-hero/donate.png";
import rachael from "../images/rachael-at-booth.jpg";

import ThemedBox from "@components/ThemedBox.astro";
import { Image } from "astro:assets";
const directorEmail = "mailto:director@accessiblecommunity.org";
const paypalUrl = "https://paypal.me/AccessibleCommunity";
const stripeUrl = "https://donate.stripe.com/eVadR0agM8ec1TW5kk";

const heroButtons = [
  {
    name: "Paypal",
    icon: "cib:paypal",
    href: paypalUrl,
    className: "cib-paypal",
  },
  {
    name: "Stripe",
    icon: "cib:stripe",
    href: stripeUrl,
    className: "cib-stripe",
  },
];

const donationLinks = [
  {
    icon: "cib:cc-paypal",
    href: paypalUrl,
    title: "Donate via Paypal",
    theme: "paypal",
  },
  {
    icon: "cib:cc-stripe",
    href: stripeUrl,
    title: "Donate via Stripe",
    theme: "stripe",
  },
  {
    icon: "envelope-at",
    href: directorEmail,
    title: "Email the Director",
    theme: "primary",
  },
];

const title = "Donate";
const metadata: PageMetadata = {
  title,
  description: "Come join us at Accessible Community",
  image: getOpenGraphImageData(Astro.site, "pages", "donate"),
};

const letter = await getEntry("markdown", "donor-letter");
if (!letter) throw new Error("Could not find content `markdown/donor-letter`");
 const { Content } = await render(letter);

const statesRegistered = ["Maryland", "Virginia"];
const statesAccepting = [
  "Delaware",
  "Idaho",
  "Indiana",
  "Iowa",
  "Montana",
  "Nebraska",
  "South Dakota",
  "Vermont",
  "Wyoming",
];
---

<Layout {title} {metadata}>
  <Hero image={heroBg} slot="header">
    <div slot="heading" class="mb-4">
      <h1 class="visually-hidden">Donate</h1>
      <span class="display-2">
        Growing <strong>disability-inclusive</strong> communities <br class="d-none d-lg-inline" />
        through socially responsible technology.
        <!-- <strong>Building tools</strong> that build communities. -->
      </span>
    </div>
    <!-- <p class="lead text-bg-hero mb-5">
      <Branding>Accessible Community</Branding> is a 501(c)3 organization. Your donation
      goes towards supporting our programs, accommodations and technology costs.
    </p> -->
    <div class="d-grid gap-4 mx-4 d-sm-flex justify-content-sm-center">
      {
        heroButtons.map(({ icon, href, name, className }) => (
          <a
            class="btn btn-primary border-light d-flex justify-content-center align-items-center px-4 gap-1"
            href={href}
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class={className}>Donate with</span>
            <Icon class="bi" name={icon} role="img" aria-label={name} />
          </a>
        ))
      }
    </div>
  </Hero>

  <ThemedSection style="tertiary">
    <div class="row justify-content-center">
      <div class="col col-lg-10 donor-letter">
        <h2 class="display-5">Dear <strong>potential donor</strong>,</h2>
        <Content components={{ThemedBox, Quote, ...components}} />
        <div class="text-primary-emphasis text-end fs-4 my-4 founder-cited">
          <TeamVignette
            member="rachael-bradley-montgomery"
            left={false}
            valign="center"
          />
        </div>

        <!-- <div class="lead">
          <p>
            Your support of <Branding class="text-primary"
              >Accessible Community</Branding
            > provides programs, accommodations and technology to...
          </p>
          <ul>
            <li>
              Help smaller organizations with limited resources engage and
              support people with disabilities,
            </li>
            <li>
              Empower people with disabilities to be part of the conversation
              about accessibility in their communities,
            </li>
            <li>
              Motivate organizations by making accessibility visible and
              providing a marketing advantage for being disability-inclusive,
              and
            </li>
            <li>
              Mature the accessibility profession by increasing communication,
              education and efficiency.
            </li>
          </ul>
          <p>
            Contribute today and help make our communities more accessible.
            <span class="fw-bold text-brand text-primary"
              >Thank you for your support!</span
            >
          </p>
        </div> -->
      </div>
    </div>
  </ThemedSection>

  <ShadowBoxSection theme="info" style="secondary">
    <h2 class="display-3 text-center fw-bold my-3">How can I help?</h2>
    <div class="row justify-content-center px-3">
      <div class="col col-lg-3 col-xl-2">
        <div
          class="d-grid d-sm-flex flex-lg-column justify-content-sm-center gap-3 pb-3"
        >
          {
            donationLinks.map(({ icon, href, title, theme }) => (
              <a
                class:list={[`btn btn-sm btn-primary rounded-2 shadow-sm`]}
                href={href}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon class="bi mx-auto" name={icon} aria-hidden="true" />
                {title}
              </a>
            ))
          }
        </div>
      </div>
      <div class="col-lg-7">
        <p>
          If you would like to make a donation through corporate or government giving,
          by check, or some other means, please <a href={directorEmail}
            >email our director</a
          > to discuss your donation. Checks should be mailed to the following address:
          <pre class="address">
Accessible Community
609 E. Main Street
Suite CC1002
Purcellville, VA  20132</pre>
          If you are intestered in volunteering, please see our <a href="/volunteer/">volunteer page</a>.
        </p>
      </div>
    </div>
  </ShadowBoxSection>
</Layout>

<style lang="scss">
  .donor-letter :global(pre),
  pre.address {
    padding: 0em 1.5em 0.5em;
    margin-bottom: 0.5em;
    background-color: inherit !important;
    color: inherit !important;
  }

  .founder-cited {
    line-height: 1.2em;
  }

  span.cib-paypal {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }

  [data-icon="cib:paypal"] {
    width: 1.6em;
    height: 1.6em;
    filter: none;
  }

  [data-icon="cib:stripe"] {
    width: 2.4em;
    height: 2.4em;
    filter: none;
  }

  .btn-sm .bi {
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    filter: none;
  }
</style>
