---
import type { Breadcrumbs, PageMetadata } from "@lib/types";
import { getOpenGraphImageData } from "@lib/og-image";

import { getCollection } from "astro:content";
import { components } from "@lib/mdx";

import Branding from "../components/Branding.astro";
import Hero from "../components/Hero.astro";
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import ThemedSection from "../components/ThemedSection.astro";

import heroBg from "../images/colored-hero/hands-together.png";
import teamPic from "src/images/colored-hero/team.png";
import { Image } from "astro:assets";

const title = "Volunteer";
const metadata: PageMetadata = {
  title,
  description: "Come join us at Accessible Community",
  image: getOpenGraphImageData(Astro.site, "pages", "volunteer"),
};
const crumbs: Breadcrumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Join Us",
    href: "/join-us",
  },
];

const teams = await getCollection("recruiting");
---

<Layout {title} {crumbs} {metadata}>
  <Hero image={heroBg} slot="header" actionBreakpoint="md">
    <div slot="heading" class="mb-4">
      <h1 class="visually-hidden">Volunteer</h1>
      <blockquote class="display-2 text-white">
        <div>
          <sup aria-hidden="true"><Icon name="quote-left" height="0.5em" /></sup
          >&nbsp;<span class="small">Alone we can do so little;</span>
        </div>
        <div>
          <span class="fw-bold"
            >Together we can do so much.&nbsp;<sup aria-hidden="true"
              ><Icon name="quote-right" height="0.5em" /></sup
            >
          </span>
        </div>
      </blockquote>
      <div class="blockquote-footer text-end text-white me-5 display-6">
        <span class="display-7">Helen Keller</span>
      </div>
    </div>
    <p class="lead text-bg-hero">
      <Branding>Accessible Community</Branding> is a volunteer-led and staffed 501(c)3
      organization. We welcome any contributions to help make our communities more
      accessible and disability-inclusive.
    </p>
    <Fragment slot="action-bar">
      <a href="#orientation" class="icon-link link-light hero-link">
        <Icon name="bi:youtube" class="bi" role="img" aria-hidden="true" />
        Watch the orientation video
      </a>
      <a href="#teams" class="icon-link link-light hero-link">
        <Icon name="bi:people-fill" class="bi" role="img" aria-hidden="true" />
        Learn more about our teams
      </a>
      <a href="#form" class="icon-link link-light hero-link">
        <Icon name="bi:pencil-fill" class="bi" role="img" aria-hidden="true" />
        Fill out the volunteer form
      </a>
    </Fragment>
  </Hero>

  <ThemedSection style="tertiary">
    <div
      class="d-flex flex-column flex-lg-row gap-4 justify-content-lg-between align-items-center"
    >
      <div class="col col-lg-7">
        <h2 class="display-4 mb-4">
          Are you interested in <strong>volunteering</strong>?
        </h2>
        <p
          >Preparing to join our organization can be done in three easy steps:</p
        >
        <ol>
          <li>Watch the orientation video.</li>
          <li>Learn about our volunteer opportunities.</li>
          <li>Fill our the volunteer interest form.</li>
        </ol>
        <p>
          After you fill out the form, we will be in touch with regarding
          talking to one of our leadership team.
        </p>
      </div>
      <Image
        class="col-10 col-lg-5 rounded shadow border border-primary"
        src={teamPic}
        style="height: auto"
        alt="A group of people gathered around a laptop"
      />
    </div>
  </ThemedSection>

  <ThemedSection id="orientation" theme="primary">
    <div
      class="d-flex flex-column flex-lg-row-reverse gap-5 justify-content-lg-between align-items-center"
    >
      <div class="col col-lg-5 col-xl-6">
        <h2 class="display-3 text-light mb-4">
          Our Volunteer <strong>Orientation</strong>
        </h2>
        <p class="text-light"
          >Please watch the orientation video to learn about volunteering at <Branding
            >Accessible Community</Branding
          >. This will go over the benefits of volunteering, our expectations
          and how you can join our organization.</p
        >
      </div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/ytD-B97X0NQ?si=iObRC-aeuvZvCuv8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
  </ThemedSection>

  <ThemedSection id="teams" style="secondary">
    <h2 class="display-3">Volunteer <span class="fw-bold">Teams</span></h2>
    <div>
      <p>
        Thank you for wanting to learn about our volunteer opportunities at
        <Branding class="text-primary">Accessible Community</Branding>. We have
        different teams to choose from, and we have provided decriptions of each
        team to help you choose one (or more) to join. Everyone, including our
        staff, is a volunteer.
      </p>
      <p>
        All our teams meet virtually. This allows us to have an international
        team of volunteers.
      </p>
      <p>
        After you determine which team(s) you want to volunteer with, or if you
        think you could help in another way not listed, <a href="#form"
          >fill out our volunteer form</a
        >.
      </p>
    </div>
    <div class="row justify-content-center gap-5 py-4">
      {
        teams.map((team) => (
          <div class="col-lg-8">
            <div class="card mb-3 shadow team-card">
              <div class="card-header">
                <h3 class="card-title mb-0" set:text={team.data.name} />
              </div>
              <div class="card-body">
                <div class="card-text">
                  {team.render().then(({ Content }) => (
                    <Content {components} />
                  ))}
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </ThemedSection>

  <ThemedSection id="form" style="tertiary">
    <h2 class="display-3 mb-4 text-info-emphasis">
      Volunteer <strong>Interest Form</strong>
    </h2>
    <form
      id="volunteerFormEl"
      class="col p-4 bg-body border border-2 border-info-contrast rounded"
    >
      <p class="lead">
        Thank you for your interest in volunteering with
        <Branding>Accessible Community</Branding>.
      </p>
      <p>
        We are a growing <strong class="text-primary"
          >international community</strong
        > of volunteers working together to improve our communities for people with
        disabilities. We are looking for individuals with passion and dedication
        who are willing to spend about 4&nbsp;hours a week volunteering their talents.
        To succeed, we need a wide variety of skills. If you are interested in volunteering
        your time and talents, then please complete the form below.
      </p>
      <p>
        Required fields have an asterisk (<span class="asterisk">*</span>).
      </p>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstNameField" class="form-label mb-1 required-field"
            >First Name</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="FirstName"
            class="form-control w-100"
            id="firstNameField"
            autocomplete="given-name"
            required
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastNameField" class="form-label mb-1 required-field"
            >Last Name</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="LastName"
            class="form-control w-100"
            id="lastNameField"
            autocomplete="family-name"
            required
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="emailField" class="form-label mb-1 required-field"
            >Email Address</label
          ><span class="asterisk"></span>
          <input
            type="email"
            name="Email"
            class="form-control w-100"
            id="emailField"
            autocomplete="email"
            aria-describedby="emailHelp"
            required
          />
          <div id="emailHelp" class="form-text">
            The email you would like us to associate with your account accesses.
            This is ideally a Gmail address.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="countryField" class="form-label mb-1 required-field"
            >Country</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="Country"
            class="form-control w-100"
            id="countryField"
            autocomplete="country-name"
            aria-describedby="countryHelp"
            required
          />
          <div id="countryHelp" class="form-text">
            The country where you spend the majority of your time.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="teamField" class="form-label mb-1 required-field"
            >Desired Team</label
          ><span class="asterisk"></span>
          <select
            name="Teams"
            class="form-control w-100"
            id="teamField"
            aria-describedby="emailHelp"
            required
          >
            {
              teams.map(({ data }) => (
                <option value={data.name} set:text={data.name} />
              ))
            }
          </select>
          <div id="emailHelp" class="form-text">
            Which team you would like to volunteer with?
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <fieldset>
            <legend class="mb-2 fs-5 required-field">
              Are you willing to commit to at least 4 hours a week?
              <span class="asterisk" aria-hidden="true"></span>
            </legend>
            <div class="form-check d-flex mb-2 align-items-center">
              <input
                class="form-check-input"
                type="checkbox"
                name="Hours"
                value="Yes"
                id="hoursAgree"
                required
              />
              <label class="form-check-label ps-2" for="hoursAgree">
                Yes, I can commit to at least 4 hours a week for a year.
              </label>
            </div>
          </fieldset>
        </div>
        <div class="mb-3">
          <label for="accommodationTextarea" class="form-label mb-1"
            >Do you need any accomodations to be successful?</label
          >
          <span class="asterisk"></span>
          <textarea
            name="Accommodations"
            class="form-control w-100 form-text-area form-field"
            id="accommodationTextarea"
            aria-describedby="accommodationHelp"></textarea>
          <div id="accommodationHelp" class="form-text">
            Please list any accomodations that you need for remote meetings
            and/or work.</div
          ></div
        >
      </div>
      <div class="col-md-6 mx-auto">
        <button
          id="volunteerSubmit"
          type="submit"
          class="btn btn-info w-100 general-button">Submit</button
        >
      </div>
    </form>
  </ThemedSection>
  <div
    class="d-none col p-4 border-primary volunteer-form"
    id="volunteerSuccess"
  >
    <div class="lead">
      Thank you for your interest in volunteering with
      <Branding class="text-primary">Accessible Community</Branding>. We'll be
      in touch shortly.
    </div>
  </div>
</Layout>

<script is:inline>
  const form = document.querySelector("#volunteerFormEl");
  const submitButton = document.querySelector("#volunteerSubmit");
  const scriptURL =
    "https://script.google.com/macros/s/AKfycbxTIdQJmkqH6iU0wil7F9CIhLuYRwysMKRgInwBnvURWGkvE2zUIBtIV3XqA8F2ZQXfWg/exec";

  form.addEventListener("submit", (e) => {
    submitButton.disabled = true;
    e.preventDefault();

    let requestBody = new FormData(form);

    fetch(scriptURL, {
      method: "POST",
      body: requestBody,
      mode: "no-cors",
    })
      .then((response) => {
        form.classList.add("d-none");
        const successMessage = document.querySelector("#volunteerSuccess");
        successMessage.classList.remove("d-none");
      })
      .catch((error) => {
        alert("Error!", error.message);
        submitButton.disabled = false;
      });
  });
</script>

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
    outline: 1px solid black;
  } */

  fieldset label {
    cursor: pointer;
  }

  .form-text-area {
    height: 6em;
  }
</style>
