---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const staff = await getCollection('team');

  return [
    { params: { tag: 'board' }, props:
      {
        staff,
        title: 'Board Members',
        heading: 'Board <strong>Members</strong>',
      }
    },
    { params: { tag: 'leadership' }, props:
      {
        staff,
        title: 'Leadership Team',
        heading: 'Leadership <strong>Team</strong>',
      }
    },
  ];
}

import Layout from '../../layouts/Layout.astro';
import TeamMemberBio from '../../components/TeamMemberBio.astro';
import TeamHeading from '../../components/TeamHeading.astro';
import ThemedSection from '../../components/ThemedSection.astro';

import { sortBy } from 'lodash-es';

const { tag } = Astro.params;
const { staff, title, heading } = Astro.props;

const staffMembers = sortBy(
  staff.filter((p) => p.data.tags?.includes(tag)),
  ({data}) => data.name.split(' ').slice(1).join(' ')
);

const crumbs = [{
  name: 'Home', href: '/',
}, {
  name: 'Team', href: '/team',
}];
---

<Layout title={title} crumbs={crumbs}>
  <TeamHeading slot="header" set:html={heading} />
  <ThemedSection style="tertiary">
    <ul class="list-group">
      { staffMembers.map(sm =>
        <li class="d-block mb-5"><TeamMemberBio member={sm} /></li>
      )}
    </ul>
  </ThemedSection>
</Layout>