---
import { getCollection } from "astro:content";
import { getOpenGraphImageData } from "@lib/og-image";
import { sortBy } from "lodash-es";

import type { Breadcrumbs, PageMetadata } from "@lib/types";


export async function getStaticPaths() {
  const team = await getCollection("team");

  return [
    {
      params: { tag: "board" },
      props: {
        team,
        title: "Board Members",
        heading: "Board <strong>Members</strong>",
        description: "Bios of the board members of Accessible Community",
      },
    },
    {
      params: { tag: "leadership" },
      props: {
        team,
        title: "Leadership Team",
        heading: "Leadership <strong>Team</strong>",
        description: "Bios of the leadership team of Accessible Community",
      },
    },
  ];
}

const { tag } = Astro.params;
const { team, title, heading, description } = Astro.props;

const teamMembers = sortBy(
  team.filter(
    ({ data }) => data.roles && Object.keys(data.roles).includes(tag),
  ),
  ({ data }) => data.name.split(" ").slice(1).join(" "),
);

const metadata: PageMetadata = {
  title,
  description,
};
const crumbs: Breadcrumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Team",
    href: "/team",
  },
];

import ImageHeading from "../../components/ImageHeading.astro";
import Layout from "../../layouts/Layout.astro";
import TeamMemberBio from "../../components/TeamMemberBio.astro";
import ThemedSection from "../../components/ThemedSection.astro";
---

<Layout {title} {crumbs} {metadata}>
  <ImageHeading image="team" slot="header" set:html={heading} />
  <ThemedSection style="tertiary">
    <ul class="list-group">
      {
        teamMembers.map((sm) => (
          <li class="list-inline-item my-2 w-100">
            <div class="text-start p-1 p-lg-2 pt-2">
              <TeamMemberBio member={sm} role={tag} />
            </div>
          </li>
        ))
      }
    </ul>
  </ThemedSection>
</Layout>

<style>
  .staff-list-item {
    max-width: 18rem;
  }
  .staff-list-item :global(.vignette-name) {
    color: var(--bs-primary-text-emphasis);
    margin-bottom: -0.1em;
  }
  .staff-list-item :global(.vignette-title) {
    line-height: 1.1em;
  }
</style>
