---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allProfiles = await getCollection('profiles');

  return [
    { params: { tag: 'board' }, props:
      {
        allProfiles,
        mini: false,
        title: 'Board Members',
        heading: 'Meet our board',
      }
    },
    { params: { tag: 'leadership' }, props:
      {
        allProfiles,
        mini: false,
        title: 'Leadership',
        heading: 'Meet our leadership',
      }
    },
  ];
}

import Layout from '../../layouts/Layout.astro';
import Profile from '../../components/Profile.astro';
import Section from '../../components/Section.astro';

import { sortBy } from 'lodash-es';

const { tag } = Astro.params;
const { allProfiles, mini, title, heading } = Astro.props;

const profiles = sortBy(
  allProfiles.filter((p) => p.data.tags?.includes(tag)),
  mini
  ? (p) => p.data.name.split(' ')[0]
  : (p) => p.data.name.split(' ').slice(1).join(' ')
);

const crumbs = [{
  name: 'Home', href: '/',
}, {
  name: 'Team Members', href: '/team',
}]
---

<Layout title={title} crumbs={crumbs} heading={heading}>
  <Section theme="body-secondary" fluid={mini}>
    <ul class={mini ? 'mini list-inline text-center' : 'list-group'}>
      { profiles.map((p) =>
        <li class={mini ? 'list-inline-item text-start' : 'd-block mb-5'}>
          <Profile profile={p} mini={mini} />
        </li>
      )}
    </ul>
  </Section>
</Layout>

<style>
.mini .list-inline-item {
  width: 18rem;
}

</style>