---
import { getCollection } from "astro:content";

import ImageHeading from "../../components/ImageHeading.astro";
import Layout from "../../layouts/Layout.astro";
import TeamVignette from "../../components/TeamVignette.astro";
import TeamHeading from "../../components/TeamHeading.astro";
import ThemedSection from "../../components/ThemedSection.astro";

import { isEmpty, intersection, sortBy } from "lodash-es";

const teamProfiles = await getCollection("team");
const staff = sortBy(
  teamProfiles.filter((p) =>
    isEmpty(intersection(p.data.tags, ["board", "leadership"])),
  ),
  (p) => p.data.name.split(" ").slice(1).join(" "),
);

const crumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Team",
    href: "/team",
  },
];
---

<Layout title="Staff" crumbs={crumbs}>
  <ImageHeading image="team" slot="header">
    Our <strong>Staff</strong>
  </ImageHeading>
  <ThemedSection theme="secondary" style="subtle" fluid={true}>
    <ul class="list-inline text-center">
      {
        staff.map((member) => (
          <li class="list-inline-item staff-list-item my-2 m-md-2 w-100">
            <div class="text-start bg-body shadow-sm rounded-1 p-2 pt-3 fs-4">
              <TeamVignette
                member={member}
                firstNameOnly={true}
                highlightName={true}
                branded={true}
                valign="start"
                size="lg"
              />
            </div>
          </li>
        ))
      }
    </ul>
  </ThemedSection>
</Layout>

<style>
  .staff-list-item {
    max-width: 18rem;
  }
  .staff-list-item :global(.vignette-name) {
    color: var(--bs-primary-text-emphasis);
    margin-bottom: -0.1em;
  }
  .staff-list-item :global(.vignette-title) {
    line-height: 1.1em;
  }
</style>
