---
import ExternalLink from '../../components/ExternalLink.astro';
import Layout from '../../layouts/Layout.astro';
import Quote from '../../components/Quote.astro';
import ThemedBox from '../../components/ThemedBox.astro';
import ThemedSection from '../../components/ThemedSection.astro';
import ShadowBoxSection from '../../components/ShadowBoxSection.astro';
import { Image } from 'astro:assets';

const title = 'Mission & Vision';
const heading = title;

const crumbs = [{
  name: 'Home', href: '/',
}, {
  name: 'About', href: '/about',
}];

import missionImage from '../../images/mission.png';
// https://thenounproject.com/photo/business-partners-discussing-work-arranging-business-papers-and-charts-on-floor-bYWo15/
import partnerImage from '../../images/np_Business-partners-discussing-work-arranging-business-papers-and-charts-on-floor_bYWo15_large.jpg';
---
<Layout title={title} crumbs={crumbs} heading={heading}>
  <ThemedSection theme="body-tertiary" slot="header">
    <div class="row flex-column-reverse flex-lg-row align-items-center justify-content-center gy-4 p-4">
      <div class="col-lg-6 col-xl-7 col-xxl-6">
        <h1 class="visually-hidden">Mission and Vision</h1>
        <h2 class="display-5 text-info-emphasis mb-1">
          <span>Our <strong>vision</strong>.</span>
        </h2>
        <p class="display-4 text-body-emphasis mb-3">
          Establishing and nurturing <br/>
          <strong>disability-inclusive communities</strong>
          through ethical technology.
        </p>
        <p class="lead">
          <span class="text-brand text-primary-emphasis">Accessible <strong>Community</strong></span>
          is a 501(c)3 nonprofit that provides tools, resources and an online community to bring
          together accessibility experts, volunteers, businesses, organizational and community
          leaders, and individuals with disabilities to create a more inclusive world.
        </p>
      </div>
      <div class="col-10 col-sm-8 col-lg-6 col-xl-5 col-xxl-4">
        <Image
          src={missionImage}
          class="img-fluid"
          width="400"
          height="400"
          loading="lazy"
          alt="Image depicting Accessible Community's vision. Four circles connected with our logo. Contained in the circles are People with Disabilities, Local Organizations, Community Leaders, and Accessibility Experts."
        />
      </div>
    </div>
  </ThemedSection>

  <ThemedSection theme="primary" text={true}>
    <div class="container d-flex flex-column flex-lg-row gap-4 gy-5 py-3 justify-content-lg-between">
      <div class="text-white col col-lg-7">
        <h2 class="display-3 text-white pb-4">Our <strong>mission</strong>.</h2>
        <ul class="ms-2">
          <li>
            Empower people with disabilities to be part of the conversation about inclusion and
            accessibility in their communities by creating a safe platform to share positive
            experiences.
          </li> 
          <li>
            Motivate organizations to include people with disabilities by making accessibility
            a visible market advantage.
          </li>
          <li>Provide tools and an online community that connects and advances disability-related professions.</li> 
        </ul>
      </div>
      <div class="text-white col col-lg-4">
        <h2 class="display-3 text-white pb-4">Our <strong>goals</strong>.</h2>
        <ul class="ms-2">
          <li>Connect people with disabilities to the organizations where they can be successful, and</li>
          <li>Help community organizations become more disability inclusive.</li>
        </ul>
      </div>
    </div>
  </ThemedSection>

  <ThemedSection style="tertiary">
    <h2 class="display-3 pb-3">Our <strong>motivation</strong>.</h2>
    <p class="lead">One in every three households includes someone who has a disability. These individuals and families often struggle to find places in their community where they can successfully shop, eat, and participate in community life.</p>
    <ul class="lead">
      <li><strong>Communities matter</strong>. Being a part of a local community is important.</li>
      <li>Local communities are made up of <strong>people</strong> and <strong>small organizations</strong>.</li>
      <li>A majority of small organizations do not have the knowledge or resources to effectively reach people with disabilities.</li>
      <li>People with disabilities want to be a part of their community and part of the solution in removing barriers to that community.</li>
      <li>We can <strong>incentivize</strong> those people and organizations we partner with by creating scenarios where <strong>all parties win</strong>.</li>
    </ul>
  </ThemedSection>

  <ShadowBoxSection theme="info">
    <div class="row gap-4">
      <h2 class="col display-3 text-center py-4"><strong>Communities</strong> are <strong>people</strong>.</h2>
    </div>
    <div class="d-flex flex-column flex-lg-row gap-3 justify-content-lg-evenly">
      <ThemedBox theme="info" style="subtle" class="my-auto col col-lg-3 col-xl-3 rounded shadow-sm">
        <Quote q="loneliness" />
      </ThemedBox>
      <div class="text-primary col col-lg-8 col-xl-7">
        <p class="lead">
          <ExternalLink
            href="https://www.cdc.gov/ncbddd/disabilityandhealth/infographic-disability-impacts-all.html"
            class=" fw-medium"
          >
            <strong>27% of adults</strong> in the United States
          </ExternalLink>
          have at least <strong>one type of disability</strong>.
          These individuals and families <strong>may struggle</strong>
          to find places in their community where they can successfully <strong>shop, eat, and participate in community
          life</strong>. When they are successful, they will often recommend those places to their local social
          circle, especially to those who face similiar challenges.
        </p>
        <p class="lead">
          <strong>People with disabilities</strong> want to be included in the discussions about how to make an environment
          more inclusive. "<strong>Nothing about us without us</strong>" has become a rallying cry for their
          desire to be involved.
        </p>
      </div>
    </div>
  </ShadowBoxSection>

  <ShadowBoxSection theme="secondary-subtle">
    <div class="row gap-4">
      <h2 class="col display-3 text-center py-3"><strong>Communities</strong> are made up of <strong class="text-nowrap">small organizations</strong>.</h2>
    </div>
    <div class="d-flex flex-column flex-xl-row gap-4 justify-content-xl-center align-items-center px-4">
      <div class="col col-xl-6 col-xxl-5">
        <p class="text-start">
          Over
          <ExternalLink
            href="https://advocacy.sba.gov/wp-content/uploads/2021/08/Small-Business-Economic-Profile-US.pdf"
            inline={true}
          ><strong>98%</strong> of the <strong>32.5 million</strong> small businesses {"{pdf}"}</ExternalLink>
          in America have less than 20 employees. These small businesses, along with non-profits,
          religious congregations, and other community organizations make up a large portion of the
          world we live in.
        </p>
        <p class="text-start mb-0">
          Yet, few of these organizations can afford to hire accessibility expertise. As a result,
          these organizations often fail to serve the
          <ExternalLink
            href="https://adata.org/factsheet/understanding-disability-statistics"
            inline={true}
          ><strong>56.7 million</strong> Americans with disabilities.</ExternalLink>
          This gap discriminates against individuals with diverse abilities and undermines these organizations, who
          miss out on the over
          <ExternalLink
            href="https://www.dol.gov/agencies/odep/publications/fact-sheets/diverse-perspectives-people-with-disabilities-fulfilling-your-business-goals#:~:text=Organizations%20such%20as%20the%20National,also%20a%20significant%20market%20segment"
            inline={true}
          ><strong>$200 billion</strong> of discretionary spending</ExternalLink>
          they possess.
        </p>
      </div>
      <div class="col col-xl-6 col-xxl-5">
        <Image class="rounded img-fluid" src={partnerImage} alt="Business partners discussing work arranging business papers and charts on floor" loading="lazy" format='avif' />
      </div>
    </div>
  </ShadowBoxSection>
</Layout>

<style lang="scss">

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.img-orgs {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5em;
}

.caption.small {
  font-size: 0.7em;
}

img.profile-pic {
  display: inline-block;
  max-width: 3em;
}

div.fs-6 {
  line-height: 0.9em;
}

@include media-breakpoint-up(lg) {
  .img-orgs {
    max-width: 28rem;
    margin-left: 1.25em;
    margin-bottom: 0;
  }
}
@include media-breakpoint-up(xl) {
  .img-orgs {
    max-width: 35rem;
  }
}
</style>