---
import type { HTMLAttributes } from "astro/types";
import type { BreakpointOptions } from './types';

type ColumnSizes = "1" | "2" | "3" | "4" | "5" | "6" | "7" | "8" | "9" | "10" | "11" | "12";
type Div = HTMLAttributes<'div'>;

export interface Props extends Div, BreakpointOptions<ColumnSizes> {
  noDefault?: boolean;
}

const {
  class: cssClass = "",
  noDefault = false,
  sm = undefined,
  md = undefined,
  lg = undefined,
  xl = undefined,
  xxl = undefined,
  ...attrs
} = Astro.props;
---

<div {...attrs} class:list={[
  !noDefault && "col",
  sm && `col-sm-${sm}`,
  md && `col-md-${md}`,
  lg && `col-lg-${lg}`,
  xl && `col-xl-${xl}`,
  xxl && `col-xxl-${xxl}`,
  cssClass,
]}><slot /></div>