---
import { getEntry } from "astro:content";

const currentYear = new Date().getFullYear();

const ContactUs = [
  {
    name: "Mailing Address",
    icon: "bi:geo-alt-fill",
    className: "bi bi-geo-alt-fill",
    href: null,
    html: "609 E. Main Street<br />Suite CC1002 <br/>Purcellville, VA&nbsp; 20132",
  },
  {
    name: "Email Address",
    icon: "bi:envelope-at-fill",
    className: "bi bi-envelope-at-fill",
    href: "mailto:info@accessiblecommunity.org",
    html: "info@accessiblecommunity.org",
  },
  /*
  TODO: Phone number no longer active
  {
    name: "Phone Number",
    icon: "bi:telephone-fill",
    className: "bi bi-telephone-fill",
    href: "tel:+1703-651-6703",
    html: "(703) 651-6703",
  },
  */
];

const socialEntry = await getEntry("navigation", "social-media");
const Socials = socialEntry?.data.groups[0];

import Branding from "./Branding.astro";
import FooterLinkList from "./navigation/FooterLinkList.astro";
import { Icon } from "astro-icon/components";
---

<footer id="footer" class="bg-primary py-5 d-print-none">
  <div class="py-2 px-4 container-footer">
    <div
      class="d-flex flex-column flex-lg-row justify-content-between gap-0 column-gap-4"
    >
      <div>
        <FooterLinkList name="about" />
        <FooterLinkList name="team" />
      </div>

      <div>
        <FooterLinkList name="projects" />
      </div>

      <div>
        <FooterLinkList name="recruit" />
        <FooterLinkList name="policies" />
      </div>

      <div>
        <FooterLinkList name="outreach">
          <h2 class="visually-hidden">Social Media</h2>
          <ul class="text-center">
            {
              Socials?.map(({ icon, href, iconCls, name }) => (
                <li class="d-inline-block ms-2 me-3">
                  <a
                    class="d-inline-block link-light"
                    href={href}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <Icon
                      name={icon}
                      class:list={["social-icon", iconCls]}
                      role="img"
                      aria-label={name}
                    />
                  </a>
                </li>
              ))
            }
          </ul>
        </FooterLinkList>

        <h2 class="text-white fw-bold display-6">Contact Us</h2>
        <dl class="mb-3 text-light">
          {
            ContactUs.map(({ icon, href, html, className, name }) => (
              <div class="row">
                <dt class="contact-us">
                  <Icon
                    name={icon}
                    class={className}
                    height="1.5rem"
                    width="1.5rem"
                    role="img"
                    aria-label={name}
                  />
                </dt>
                {href ?
                  <dd class="col">
                    <a class="link-light footer-link" {href} set:html={html} />
                  </dd>
                : <dd class="col" set:html={html} />}
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
  <div class="mt-2 legal-footer">
    <p class="pt-2 text-center mb-0 text-light">
      <small><Branding>Accessible Community</Branding> is a 501(c)3&nbsp;organization.</small
      >
    </p>
    <p class="text-center mb-0 text-light">
      <small
        >
        <Branding>
          © <time datetime={`${currentYear}`}>{currentYear}</time> Accessible&nbsp;Community
        </Branding></small
      >
    </p>
  </div>
</footer>

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
      border: 1px solid white;
  } */

  .container-footer {
    padding-bottom: 0.5rem;
  }

  .social-icon {
    min-height: 24px;
    min-width: 24px;
  }

  footer :global(h2:not(:first-child)) {
    margin-top: 1.75em;
  }

  ul.list-unstyled li,
  dt.contact-us {
    margin-left: 0.5em;
  }

  footer :global(a) {
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);

    &.footer-link {
      text-underline-offset: 0.175em;
    }
  }
  .gi {
    height: 1em;
    width: auto;
    margin-right: 0.2em;
  }
  dd + dt {
    margin-top: 1.25em;
  }
  dt.contact-us {
    width: 2rem;
  }
  .legal-footer {
    border-top: 1px solid #dfe1ed;
    margin: 0 1.5em;
  }
</style>
