---
import { Icon } from "astro-icon/components";

import Branding from "./Branding.astro";
import ExternalLink from "./ExternalLink.astro";

const currentYear = new Date().getFullYear();

const facebookURL = "https://www.facebook.com/AccessibleCommunity";
const linkedinURL = "https://in.linkedin.com/company/accessible-community";
const instagramURL = "https://www.instagram.com/accessible_community/";

const ContactUs = [
  {
    name: "Mailing Address",
    icon: "bi:geo-alt-fill",
    className: "bi bi-geo-alt-fill",
    href: null,
    html: "609 E. Main Street<br />Suite CC1002 <br/>Purcellville, VA&nbsp; 20132",
  },
  {
    name: "Email Address",
    icon: "bi:envelope-at-fill",
    className: "bi bi-envelope-at-fill",
    href: "mailto:info@accessiblecommunity.org",
    html: "info@accessiblecommunity.org",
  },
  {
    name: "Phone Number",
    icon: "bi:telephone-fill",
    className: "bi bi-telephone-fill",
    href: "tel:+1703-651-6703",
    html: "(703) 651-6703",
  },
];

const Socials = [
  {
    name: "Facebook",
    icon: "bi:facebook",
    href: facebookURL,
    className: "bi bi-facebook social-icon",
  },
  {
    name: "LinkedIn",
    icon: "bi:linkedin",
    href: linkedinURL,
    className: "bi bi-linkedin social-icon",
  },
  {
    name: "Instagram",
    icon: "bi:instagram",
    href: instagramURL,
    className: "bi bi-instagram social-icon",
  },
];
---

<footer id="footer" class="bg-primary py-5 d-print-none">
  <div class="py-2 px-4 container-footer">
    <div
      class="d-flex flex-column flex-lg-row justify-content-between gap-0 column-gap-3"
    >
      <div>
        <h2 class="text-white fw-bold display-6">About Us</h2>
        <ul class="list-unstyled list-spaced mb-3">
          <li>
            <a class="link-light footer-link" href="/about/mission"
              >Mission &amp; Vision</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/about/story"
              >Founder's Story</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/about/policies"
              >Our Policies</a
            >
          </li>
        </ul>

        <h2 class="text-white fw-bold display-6">Our Team</h2>
        <ul class="list-unstyled list-spaced mb-3">
          <li>
            <a class="link-light footer-link" href="/team/board"
              >Board Members</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/team/leadership"
              >Leadership Team</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/team/staff">Staff</a>
          </li>
          <li>
            <a class="link-light footer-link" href="/team/previous"
              >Previous Contributors</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/team/partners">Partners</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="text-white fw-bold display-6">Research Projects</h2>
        <ul class="list-unstyled list-spaced me-4 mb-4">
          <li>
            <a class="link-light footer-link" href="/daf"
              >Digital Accessibility Framework</a
            >
          </li>
          <li>
            <ExternalLink
              class="link-light footer-link"
              inline
              href="https://accessiblecommunity.org/useable"
              ><Branding text="useable" /></ExternalLink
            >
          </li>
        </ul>

        <h2 class="text-white fw-bold display-6">Our Services</h2>
        <ul class="list-unstyled list-spaced me-4 mb-4">
          <li>
            <a class="link-light footer-link" href="/services/tip-of-the-week"
              >Tip of the Week</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/services/evaluations"
              >Evaluations</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/services/escape-room"
              >Accessible Escape Room</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/blog">Our Blog</a>
          </li>
          <li><hr class="border-light" /></li>
          <li>
            <a
              class="link-light footer-link align-text-bottom"
              href="/services/globa11y/"
              ><Icon
                class="bi gi"
                name="globa11y-logo"
                height={16}
                aria-hidden="true"
              /><Branding>globa11y</Branding></a
            >
          </li>
          <li>
            <ExternalLink
              class="link-light footer-link"
              gaps
              href="https://www.ta11y.org/"
            >
              <Icon
                class="bi"
                name="ta11y-logo"
                height={16}
                role="img"
                aria-hidden="true"
              /><Branding text="ta11y.org" /></ExternalLink
            >
          </li>
          <li>
            <ExternalLink
              class="link-light footer-link"
              gaps
              href="https://www.mutua11y.org/"
              ><Icon
                class="bi"
                name="mutua11y-logo"
                height={16}
                role="img"
                aria-hidden="true"
              /><Branding text="mutua11y.org" /></ExternalLink
            >
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-white fw-bold display-6">Join Us</h2>
        <ul class="list-unstyled list-spaced mb-3">
          <li
            ><a class="link-light footer-link" href="/volunteer">Volunteer</a
            ></li
          >
          <li><a class="link-light footer-link" href="/donate">Donate</a></li>
        </ul>

        <h2 class="text-white fw-bold display-6">User Policies</h2>
        <ul class="list-unstyled list-spaced mb-3">
          <li>
            <a class="link-light footer-link" href="/accessibility-statement"
              >Accessibility&nbsp;Statement</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/privacy-policy"
              >Privacy Policy</a
            >
          </li>
        </ul>

        <h2 class="text-white fw-bold display-6">Staff Policies</h2>
        <ul class="list-unstyled list-spaced me-4 mb-4">
          <li>
            <a class="link-light footer-link" href="/code-of-conduct"
              >Code&nbsp;of&nbsp;Conduct</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/harrassment-policy"
              >Harrassment&nbsp;Policy</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/non-discrimination-policy"
              >Non-Discrimination Policy</a
            >
          </li>
          <li>
            <a class="link-light footer-link" href="/technology-policy"
              >Technology&nbsp;Policy</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2 class="text-white fw-bold display-6">Contact Us</h2>
        <dl class="mb-3 text-light">
          {
            ContactUs.map(({ icon, href, html, className, name }) => (
              <div class="row">
                <dt class="contact-us">
                  <Icon
                    name={icon}
                    class={className}
                    height="1.5rem"
                    width="1.5rem"
                    role="img"
                    aria-label={name}
                  />
                </dt>
                {href ?
                  <dd class="col">
                    <a class="link-light footer-link" {href} set:html={html} />
                  </dd>
                : <dd class="col" set:html={html} />}
              </div>
            ))
          }
        </dl>
        <h2 class="text-white fw-bold display-6 mb-0">Social Media</h2>
        <div class="flex-column text-center">
          <div>
            <ul class="ps-0 mb-0">
              {
                Socials.map(({ icon, href, className, name }) => (
                  <li class="d-inline-block m-3">
                    <a
                      class="d-inline-block link-light"
                      href={href}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <Icon
                        name={icon}
                        class={className}
                        height="2rem"
                        width="2rem"
                        role="img"
                        aria-label={name}
                      />
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="mt-2 legal-footer">
            <p class="pt-2 text-center mb-0 text-light">
              <small>Accessible Community is a 501(c)3&nbsp;organization.</small
              >
            </p>
            <p class="text-center mb-0 text-light">
              <small
                >© <time datetime={`${currentYear}`}>{currentYear}</time> Accessible&nbsp;Community</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
      border: 1px solid white;
  } */

  .container-footer {
    padding-bottom: 0.5rem;
  }

  .social-icon {
    min-height: 29px;
    min-width: 29px;
  }

  h2:not(:first-child) {
    margin-top: 1.75em;
  }

  ul.list-unstyled li,
  dt.contact-us {
    margin-left: 0.5em;
  }

  footer :global(a) {
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);

    &.footer-link {
      text-underline-offset: 0.175em !important;
    }
  }
  .gi {
    height: 1em;
    width: auto;
    margin-right: 0.2em;
  }
  dd + dt {
    margin-top: 1.25em;
  }
  dt.contact-us {
    width: 2rem;
  }
  .legal-footer {
    border-top: 1px solid #dfe1ed;
  }
</style>
