---
interface Props {
  image: string;
  header?: string;
  theme?: string;
  textColor?: string;
  columns: string;
  actionBreakpoint: string;
}

const {
  image,
  theme = "primary",
  columns = "col-lg-6",
  actionBreakpoint = "lg",
} = Astro.props;

import { getImage } from "astro:assets";

let heroBgUrl;

if (image) {
  const optimizedBg = await getImage({ src: image, format: "avif" });
  heroBgUrl = `url(${optimizedBg.src})`;
} else {
  heroBgUrl = "";
}
---

<section
  class={`bg-${theme}`}
  style={`background: no-repeat center ${heroBgUrl}`}
>
  <div class="container hero">
    <slot name="heading" />
    <div class:list={[columns, "mx-auto text-white"]}>
      <slot />
    </div>
  </div>
  {
    Astro.slots.has("action-bar") && (
      <div class="bg-primary bg-opacity-50 py-3 text-white">
        <div
          class={`d-flex flex-column flex-${actionBreakpoint}-row align-items-center justify-content-${actionBreakpoint}-evenly gap-2`}
        >
          <slot name="action-bar" />
        </div>
      </div>
    )
  }
  {
    Astro.slots.has("prologue") && (
      <div class="bg-primary bg-opacity-50 py-2">
        <div class="container-fluid mx-auto text-white text-center">
          <slot name="prologue" />
        </div>
      </div>
    )
  }
</section>

<style is:global>
  .hero {
    padding: 4.5rem 0 3rem !important;
    text-align: center;
  }

  .hero h1,
  .hero h2,
  .hero h3,
  .hero h4,
  .hero .display-1,
  .hero .display-2,
  .hero .display-3,
  .hero .display-4,
  .hero .display-5,
  .hero .display-6 {
    color: white;
  }

  .hero .text-bg-hero {
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
    border-radius: var(--bs-border-radius-sm);
    --bs-bg-opacity: 0.25;
    padding: 0.25rem 0.5rem; /* py-1 px-2 */
  }
</style>
