---
import { Icon } from 'astro-icon'
import { reference } from 'astro:content';
import { capitalize, toPairs } from 'lodash-es';

const { profile, mini } = Astro.props;
const { Content } = await profile.render();
const { name: fullName, title, picture, links } = profile.data;

const NameTag = "h2";
const TitleTag = mini ? "div" : "h3";

function highlightFirstName(name: string) {
  const nameArray = name.split(' ');
  nameArray[0] = `<strong>${nameArray[0]}</strong>`;
  return nameArray.join(' ');
}

const name = (mini ? fullName.split(' ')[0] : fullName);
const nameAsHeading = highlightFirstName(fullName);
const brandingThemes = {
  email: 'primary',
}

const socialLinks = toPairs(links).map(([type, url]) => {
  const iconName = (() => {
    if (type == 'email')
      return 'envelope-at';
    else if (type == 'threads')
      return 'threads-logo-black'
    else
      return `cib:${type}`
  })();
  const href = type == 'email' ? `mailto:${url}` : url
  const serviceName = type == 'linkedin' ? 'LinkedIn' : capitalize(type);
  const description = type == 'email' ? 'address' : 'profile';
  const theme = brandingThemes[type] ?? type;

  return {
    href,
    iconName,
    serviceName,
    description,
    theme,
  };
});
---

<div class={`d-flex p-2 align-items-${mini ? 'center' : 'end'} ${mini ? 'bg-body shadow-sm rounded-1 m-2' : ''}`}>
  <img class="profile-pic" src={ picture.src } alt={`Drawn representation of ${name}`} />
  <div class="flex-fill px-2">
    <NameTag class:list={["mb-0", { small: mini }]} set:html={ nameAsHeading } />
    <TitleTag class:list={["text-body-secondary mb-0", mini ? "lh-sm" : ""]}>
      { title }
    </TitleTag>
    <ul class="list-inline">
      { socialLinks.map((sl) =>
        <li class="list-inline-item">
          <a class:list={["icon-link align-text-top", `text-${sl.theme}`]} href={ sl.href } target="_blank" rel="noopener noreferrer">
            <Icon class:list={['bi', { lg: !mini }]} aria-hidden="true" name={ sl.iconName } />
            <span class="visually-hidden">{name}'s {`${sl.serviceName} ${sl.description}`}</span>
          </a>
        </li>
      )}
    </ul>
  </div>
</div>
{ mini ?
  '' :
  <Content />
}

<style>
  h2.small {
    font-size: 1.2rem;
  }

  img.profile-pic {
    max-width: 5rem;
  }

  .icon-link > .bi.lg {
    height: 1.25em;
    width: 1.25em;
  }
</style>