---
import { undefined } from 'astro:schema';

type rowColumns = "1" | "2" | "3" | "4" | "5" | "6" | "7" | "8" | "9" | "10" | "11" | "12";
type gapGutterSizes = "1" | "2" | "3" | "4" | "5";

//Note: RowCols are the max number of columns horizontally within a Row
export interface Props {
  id?: string;
  baseRowCols?: rowColumns;
  smRowCols?: rowColumns;
  mdRowCols?: rowColumns;
  lgRowCols?: rowColumns;
  xlRowCols?: rowColumns;
  xxlRowCols?: rowColumns;
  gap?: gapGutterSizes;
  g?: gapGutterSizes;
  gx?: gapGutterSizes;
  gy?: gapGutterSizes;
  class?: string;
}

const {
  id: elementID = "",
  baseRowCols = undefined,
  smRowCols = undefined,
  mdRowCols = undefined,
  lgRowCols = undefined,
  xlRowCols = undefined,
  xxlRowCols = undefined,
  gap = undefined,
  g = undefined,
  gx = undefined,
  gy = undefined,
  class: cssClass = "",
} = Astro.props;
---

<div class:list={[
  "row", 
  elementID,
  baseRowCols && `row-cols-${baseRowCols}`,
  smRowCols && `row-cols-sm-${smRowCols}`,
  mdRowCols && `row-cols-md-${mdRowCols}`,
  lgRowCols && `row-cols-lg-${lgRowCols}`,
  xlRowCols && `row-cols-xl-${xlRowCols}`,
  xxlRowCols && `row-cols-xxl-${xxlRowCols}`,
  gap && `gap-${gap}`,
  g && `g-${g}`,
  gx && `gx-${g}`,
  gy && `gy-${g}`,
  cssClass,
]}><slot /></div>