---
import { boolean, undefined } from 'astro:schema';
import { fade } from 'astro:transitions';

type numberColumns = "1" | "2" | "3" | "4" | "5" | "6" | "7" | "8" | "9" | "10" | "11" | "12";
type gapSizes = "1" | "2" | "3" | "4";
type gutterSizes = "1" | "2" | "3" | "4" | "5";

//Note: RowCols are the max number of columns across within a Row
export interface Props {
  id?: string;
  class?: string;
  gap?: gapSizes;
  g?: gutterSizes;
  gx?: gutterSizes;
  gy?: gutterSizes;
  baseRowCols?: numberColumns;
  smRowCols?: numberColumns;
  mdRowCols?: numberColumns;
  lgRowCols: numberColumns;
  xlRowCols: numberColumns;
  xxlRowCols?: numberColumns;
}

const {
  id: elementID = "",
  class: cssClass = "",
  gap = undefined,
  g = undefined,
  gx = undefined,
  gy = undefined,
  baseRowCols = undefined,
  smRowCols = undefined,
  mdRowCols = undefined,
  lgRowCols = undefined,
  xlRowCols = undefined,
  xxlRowCols = undefined,
} = Astro.props;
---

<div class:list={[
  "row", 
  elementID,
  cssClass,
  gap && `gap-${gap}`,
  g && `g-${g}`,
  gx && `gx-${g}`,
  gy && `gy-${g}`,
  baseRowCols && `row-cols-${baseRowCols}`,
  smRowCols && `row-cols-${smRowCols}`,
  mdRowCols && `row-cols-${mdRowCols}`,
  lgRowCols && `row-cols-${lgRowCols}`,
  xlRowCols && `row-cols-${xlRowCols}`,
  xxlRowCols && `row-cols-${xxlRowCols}`,
]}><slot /></div>