---
import { isEmpty, kebabCase, startCase, toPairs } from "lodash-es";
import { Icon } from "astro-icon/components";

// TODO: Not specific enough as a type
export interface SocialLinkDictionary {
  [index: string]: URL | undefined;
}

interface LinkConfig {
  href: URL;
  icon: string;
  service: string;
  description: string;
  theme: string;
}

interface Props {
  links: SocialLinkDictionary;
  label?: string;
  gap?: number;
  iconSize?: string;
}

const { links, label = "", iconSize = "2em", gap = 2 } = Astro.props;
const brandingThemes = {
  email: "primary",
};

const socialLinks: Array<LinkConfig> = toPairs(links).map(([type, url]) => {
  const icon = (() => {
    if (type == "email") return "envelope-at";
    else if (type == "threads") return "threads-logo-black";
    else if (type == "website") return "bi:globe";
    else if (type == "podcastIndex") return "simple-icons:podcastindex";
    else return `cib:${kebabCase(type)}`;
  })();

  const href = type == "email" ? `mailto:${url}` : url;
  const service = type == "linkedin" ? "LinkedIn" : startCase(type);
  const description = type == "email" ? "address" : "profile";
  const theme = brandingThemes[type] ?? type;

  return {
    href,
    icon,
    service,
    description,
    theme,
  };
});
---

{
  !isEmpty(socialLinks) && (
    <ul class="list-unstyled d-inline-block mb-2" aria-label={label}>
      {socialLinks.map((sl) => (
        <li class:list={["d-inline-block", `mx-${gap}`]}>
          <a
            href={sl.href}
            class="d-inline-block align-middle"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon
              name={sl.icon}
              class="bi social-icon"
              role="img"
              aria-label={`${label} ${sl.service} ${sl.description}`}
              width={iconSize}
              height={iconSize}
            />
          </a>
        </li>
      ))}
    </ul>
  )
}

<style define:vars={{ "si-icon-size": iconSize }}>
  .social-icon {
    fill: currentColor;
    width: var(--si-icon-size);
    height: var(--si-icon-size);
    min-height: var(--si-icon-size);
    min-width: var(--si-icon-size);
  }
</style>
