---
import { getEntry } from "astro:content";

interface Props {
  member: string | object;
  element?: string;
  left?: boolean;
  highlightName?: boolean;
  firstNameOnly?: boolean;
  branded?: boolean;
  size?: string;
  valign?: string;
  responsive?: boolean;
}

const {
  member,
  highlightName = false,
  firstNameOnly = false,
  left = true,
  branded = false,
  valign = "start",
  element = "div",
  size = "",
  responsive = false,
} = Astro.props;

const memberObj =
  typeof member == "string" ? await getEntry("team", member) : member;
const { name, title, picture } = memberObj.data;

function getDisplayName(name: string) {
  if (name === "The Ta11y Cat") {
    if (highlightName) name = `<strong>${name}</strong>`;
    if (firstNameOnly) return name;
    return name;
  } else {
    const nameArray = name.split(" ");
    if (highlightName) nameArray[0] = `<strong>${nameArray[0]}</strong>`;
    if (firstNameOnly) return nameArray[0];
  
    return nameArray.join(" ");
  }
}
const displayName = getDisplayName(name);
const NameTag = element;
---

<div
  class:list={[
    "vignette",
    size && `vignette-${size}`,
    responsive && "vignette-resp",
    "d-inline-flex",
    left ? "flex-row-reverse" : "justify-content-end",
    `align-items-${valign}`,
    `gap-${size == "lg" ? "2" : "1"}`,
  ]}
>
  <div
    class:list={[
      "flex-fill text-start me-2 me-sm-1 me-md-0",
      branded && "text-brand",
    ]}
  >
    <NameTag class="vignette-name" set:html={displayName} />
    <div class="vignette-title" set:html={title} />
  </div>
  <img
    class:list={["vignette-pic rounded-circle bg-white", responsive && "d-none d-sm-block"]}
    src={picture.src}
    alt={`Drawn representation of ${name}`}
  />
</div>

<style is:global lang="scss">
  @import "bootstrap/scss/functions";
  @import "bootstrap/scss/variables";
  @import "bootstrap/scss/mixins/breakpoints";

  .vignette-name {
    color: var(--bs-secondary-text-emphasis);
    margin-bottom: 0;
  }
  .vignette-title {
    color: var(--bs-secondary-color);
    font-size: 85%;
    margin-bottom: 0.25rem;
  }
  .blockquote-footer .vignette-title {
    font-size: 80%;
  }
  .blockquote-footer .vignette-name,
  .blockquote-footer .vignette-title {
    color: inherit;
  }
  .blockquote-footer .vignette-title,
  .vignette-resp .vignette-title,
  .vignette-lg .vignette-title {
    line-height: 90%;
    margin-bottom: 0.1em;
  }
  .vignette .vignette-pic {
    height: 3.5rem;
  }
  .vignette-lg .vignette-pic {
    height: 5rem;
  }
  @include media-breakpoint-up(md) {
    .vignette-resp .vignette-pic {
      height: 5rem;
    }
  }
</style>
