---
import SocialLinks from './SocialLinks.astro';
import TeamVignette from './TeamVignette.astro';

const { member } = Astro.props;
const { name, links } = member.data;
const { Content } = await member.render();

---

<div class="team-bio p-2">
  <TeamVignette
    member={member}
    highlightName={true}
    branded={true}
    element="h2"
    size="lg"
    valign="end"
  >
    <SocialLinks links={links} adjective={`${name}'s`} />
  </TeamVignette>
</div>
<Content />

<style is:global>
  .team-bio .vignette-name {
    color: var(--bs-primary-text-emphasis);
    margin-bottom: 0.2rem;
  }
  .team-bio .vignette-title {
    font-size: 1.5rem;
  }
</style>