---
import { getEntry, render } from "astro:content";
import { Icon } from "astro-icon/components";
import TeamVignette from "./TeamVignette.astro";

interface Props {
  id: string;
  quotes?: boolean;
  text?: string;
  element?: string;
}

const { id, quotes = false, element = "div", text = undefined } = Astro.props;

const testimonial = await getEntry("testimonials", id);
const { Content = "p" } = (testimonial && (await render(testimonial))) || {};

const person = testimonial?.data.person;
const teamMemberId = testimonial?.data.staff?.id;

const NameTag = element;
---

<figure class="d-flex flex-column justify-content-center">
  <blockquote class:list={["blockquote", text && `text-${text}`]}>
    {
      quotes && (
        <sup aria-hidden="true"><Icon name="quote-left" /></sup>
      )
    }
    <Content />
    {
      quotes && (
        <sup aria-hidden="true"><Icon name="quote-right" />&nbsp;</sup>
      )
    }
  </blockquote>
  {
    teamMemberId ?
      <figcaption
        class:list={[
          "blockquote-footer fs-6",
          text && `text-${text}`,
          "text-end",
        ]}
      >
        <TeamVignette
          member={teamMemberId}
          left={false}
          firstNameOnly={true}
          valign="center"
        />
      </figcaption>
    : <figcaption
        class:list={[
          "blockquote-footer fs-6 d-flex justify-content-end",
          text && `text-${text}`,
          "text-end",
        ]}
      >
        <div class="text-start d-inline-block">
          <NameTag class="vignette-name" set:html={person?.name} />
          {person?.title && (
            <div class="vignette-title" set:html={person?.title} />
          )}
        </div>
      </figcaption>
  }
</figure>

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
    outline: 1px solid black;
  } */

  [data-icon="quote-left"],
  [data-icon="quote-right"] {
    height: 0.7em;
  }
  .blockquote-footer {
    color: inherit;
  }
  .blockquote sup + :global(p) {
    display: inline;
  }

</style>
