---
import { getEntry } from "astro:content";
import TeamVignette from "./TeamVignette.astro";

interface Props {
  slug: string;
  text?: string;
  element?: string;
}

const { slug, element = "div", text = undefined } = Astro.props;

const testimonial = await getEntry("testimonials", slug);
const { Content } = await testimonial?.render();

const person = testimonial?.data.person;
const teamMemberSlug = testimonial?.data.staff?.slug;

const NameTag = element;
---

<figure class="d-flex flex-column justify-content-center">
  <blockquote class:list={["blockquote", text && `text-${text}`]}>
    <Content />
  </blockquote>
  {
    teamMemberSlug ?
      <figcaption
        class:list={[
          "blockquote-footer fs-6",
          text && `text-${text}`,
          "text-end",
        ]}
      >
        <TeamVignette
          member={teamMemberSlug}
          left={false}
          firstNameOnly={true}
          valign="center"
        />
      </figcaption>
    : <figcaption
        class:list={[
          "blockquote-footer fs-6 d-flex justify-content-end",
          text && `text-${text}`,
          "text-end",
        ]}
      >
        <div class="text-start d-inline-block">
          <NameTag class="vignette-name" set:html={person?.name} />
          {person?.title && (
            <div class="vignette-title" set:html={person?.title} />
          )}
        </div>
      </figcaption>
  }
</figure>

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
    outline: 1px solid black;
  } */
  .blockquote-footer {
    color: inherit;
  }
</style>
