---
import { getEntry } from "astro:content";

const { slug, class: extraClasses } = Astro.props;
const tip = await getEntry("atotw", slug);
const { Content = "p" } = await tip?.render();
---

<article class={extraClasses}>
  <h1 set:html={tip.data.title} />
  <ul class="list-unstyled p-3 border-top border-bottom border-primary-subtle">
    <li>
      <strong class="text-brand">Summary: </strong>
      <span>{tip.data.summary}</span>
    </li>
    <li>
      <strong class="text-brand">Who it helps: </strong>
      <span>{tip.data.who}</span>
    </li>
    <li>
      <strong class="text-brand">Additional benefits: </strong>
      <span>{tip.data.benefits}</span>
    </li>
  </ul>
  <Content />
</article>

<style>
  article :global(h1),
  article :global(h2),
  article :global(h3) {
    font-weight: 600 !important;
  }
</style>
