---
import { getOpenGraphImageData } from "@lib/og-image";
import type { Breadcrumbs, PageMetadata } from "@lib/types";

const title = "CSUN 2025";
const metadata: PageMetadata = {
  title,
  description: "The Accessible Escape Room at CSUN 2025",
  image: getOpenGraphImageData(Astro.site, "pages", "escape-room-csun-2025"),
};
const crumbs: Breadcrumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Services",
    href: "/services",
  },
  {
    name: "Accessible Escape Room",
    href: "/services/escape-room",
  },
];

import Branding from "@components/Branding.astro";
import GoogleForm from "@components/GoogleForm.astro";
import Hero from "@components/ColumnedHero.astro";
import Layout from "../../../layouts/Layout.astro";
import ThemedSection from "@components/ThemedSection.astro";

import picnicBg from "src/images/evangelina-silina-BzLUmuRDMWE-unsplash.jpg";

const timeSlots = ["7:20", "7:50", "8:20", "8:50", "9:20"];
---

<Layout {title} {crumbs} {metadata}>
  <Hero
    image={picnicBg}
    slot="header"
    reverse
    wave
    horizontal-position="right"
    vertical-position="22%"
  >
    <div class="py-2 px-2" slot="heading">
      <h1 class="display-2">
        <Branding>The Accessible Escape&nbsp;Room</Branding> is at CSUN 2025.
      </h1>
    </div>
    <div class="py-3">
      <p class="text-bg-hero lead">
        We are prototyping our newest Escape Room, "<strong class="text-brand"
          >The&nbsp;Puzzling Picnic</strong
        >", at CSUN this year. If you are attending the conference and would
        like to participate, please sign up using the form below.
      </p>
    </div>
  </Hero>

  <img src="/images/wave.svg" class="wave" />

  <ThemedSection id="form" theme="secondary" style="subtle" py={2}>
    <h2 class="display-3 mb-4">
      CSUN <strong>Escape Room</strong> Registration
    </h2>
    <GoogleForm
      id="csunEscapeRoom"
      key="AKfycbw8vwjj-Mkuo_oeLinJP3HwpV3MrvmXUlFskVJeLG5xFMfTXoP6vr4mCrxtwkZD8sdv"
      arrayFields={["TimeSlots"]}
      messageText="Thank you for registering for the Accessible Escape Room. We will contact you shortly."
      class="col p-4 bg-body border border-2 border-primary-contrast rounded"
    >
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="nameField" class="form-label mb-1 required-field"
            >Full Name</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="Name"
            class="form-control w-100"
            id="nameField"
            autocomplete="full-name"
            required
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="emailField" class="form-label mb-1 required-field"
            >Email Address</label
          ><span class="asterisk"></span>
          <input
            type="email"
            name="Email"
            class="form-control w-100"
            id="emailField"
            autocomplete="email"
            aria-describedby="emailHelp"
            required
          />
          <div id="emailHelp" class="form-text">
            The email you would like us to contact with any scheduling
            updates or cancellations.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="phoneField" class="form-label mb-1 required-field"
            >Phone (or WhatsApp) Number</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="Phone"
            class="form-control w-100"
            id="phoneField"
            autocomplete="tel"
            aria-describedby="phoneHelp"
            required
          />
          <div id="phoneHelp" class="form-text">
            The phone number (or WhatsApp number) to contact you with any
            scheduling updates or cancellations.
          </div>
        </div>

        <div class="col-12 mb-3">
          <fieldset>
            <legend class="mb-2 fs-5 required-field">
              Which times can you attend?
              <span class="asterisk" aria-hidden="true"></span>
            </legend>
            <div class="row row-cols-auto g-1 mb-2">
              {
                timeSlots.map((time, index) => (
                  <div class="col-6 col-md-3 col-lg-2 align-items-start">
                    <input
                      class="form-check-input me-1"
                      type="checkbox"
                      name="TimeSlots"
                      value={time}
                      id={`timeSlot${index}`}
                    />
                    <label class="form-check-label" for={`timeSlot${index}`}>
                      {time} PM
                    </label>
                  </div>
                ))
              }
            </div>
          </fieldset>
        </div>

        <div class="mb-3">
          <label for="accommodationTextarea" class="form-label mb-1"
            >Preferred Group Members</label
          >
          <span class="asterisk"></span>
          <textarea
            name="OtherAttendees"
            class="form-control w-100 form-text-area form-field"
            id="accommodationTextarea"
            aria-describedby="groupMemberHelp"
            rows="2"></textarea>
          <div id="groupMemberHelp" class="form-text">
            If there are other people you would like to experience the Escape
            Room with, please list them. Note that these other people will need
            to register separately.
          </div>
        </div>

        <div class="mb-3">
          <label for="accommodationTextarea" class="form-label mb-1"
            >Do you need any accomodations to be successful?</label
          >
          <span class="asterisk"></span>
          <textarea
            name="Accommodations"
            class="form-control w-100 form-text-area form-field"
            id="accommodationTextarea"
            aria-describedby="accommodationHelp"></textarea>
          <div id="accommodationHelp" class="form-text">
            Please list any accomodations that you need for remote meetings
            and/or work.</div
          >
        </div>

        <div class="mb-3">
          <fieldset>
            <legend class="mb-2 fs-5">
              Would you like to be emailed updates about the Accessible Escape
              Room?
            </legend>
            <div class="form-check d-flex mb-2 align-items-center">
              <input
                class="form-check-input"
                type="checkbox"
                name="FutureUpdates"
                value="Yes"
                id="updatesAgree"
              />
              <label class="form-check-label ps-2" for="updatesAgree">
                Yes, I would like updates about the Accessible Escape Room.
              </label>
            </div>
          </fieldset>
        </div>
      </div>
    </GoogleForm>
  </ThemedSection>
</Layout>

<style scoped>
  .card-img-top {
    height: auto;
  }

  .logo {
    height: auto;
    width: 100%;
  }

  #form {
    margin-top: 0;
  }

  .wave {
    width: 100%;
    margin: 0;
    margin-top: -1em;
    margin-bottom: -1em;
    background-color: transparent;
    filter: invert(100%) sepia(1%) saturate(2169%) hue-rotate(180deg)
      brightness(97%) contrast(87%);
  }
</style>
