---
import { getOpenGraphImageData } from "@lib/og-image";
import type { Breadcrumbs, PageMetadata } from "@lib/types";

const title = "The Accessible Escape Room";
const metadata: PageMetadata = {
  title,
  description: "Overview of the Accessible Escape Room",
  image: getOpenGraphImageData(Astro.site, "pages", "escape-room"),
};

const crumbs: Breadcrumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Services",
    href: "/services",
  },
];

import Branding from "@components/Branding.astro";
import ExternalLink from "@components/ExternalLink.astro";
import Hero from "@components/ColumnedHero.astro";
import { Image } from "astro:assets";
import ImageFigure from "@components/ImageFigure.astro";
import EscapeRoomLayout from "src/layouts/EscapeRoomLayout.astro";
import ThemedBox from "@components/ThemedBox.astro";
import ThemedSection from "@components/ThemedSection.astro";

import heroBg from "src/images/escape-room/jonathan-kemper-9tamF4J0vLk-unsplash.jpg";
import escapeRoomLogo from "src/images/escape-room/escaperoomlogo-768x768.png";
import brailleBlocks from "src/images/escape-room/braille-blocks.png";
import bakingBg from "src/images/escape-room/priscilla-du-preez-SU5jSHu1pK8-unsplash.jpg";
import casinoBg from "src/images/escape-room/ben-iwara-gbSHdpJr1HE-unsplash.jpg";
import corporateBg from "src/images/escape-room/aleksandar-andreev-k2gRTJM9BPw-unsplash.jpg";
import picnicBg from "src/images/escape-room/evangelina-silina-BzLUmuRDMWE-unsplash.jpg";
import { Icon } from "astro-icon/components";
---

<EscapeRoomLayout {metadata}>
  <Hero image={heroBg} slot="header" reverse vertical-position="22%">
    <div class="py-2 px-2" slot="heading">
      <h1 class="display-2">
        <Branding>The Accessible Escape&nbsp;Room</Branding>.
      </h1>
    </div>
    <div class="py-3">
      <p class="text-bg-hero">
        <Branding>The Accessible Escape Room</Branding> is a fun, accessible team-building
        activity. Teams of 3-10 people, with or without disabilities, try to solve
        puzzles to reach an objective while learning about accessibility.
      </p>
    </div>
  </Hero>

  {
    /*
    Note: Temporarily deactivating this until the details for AccessU are formalized.

  <p class="text-bg-primary text-center mb-0 py-3">
    <a class="icon-link link-light" href="/services/escape-room/csun-2025">
      <Icon name="bi:pencil-fill" class="bi" role="img" aria-hidden="true" />
      Register to prototype our newest Escape Room at AccessU 2025!
    </a>
  </p>
*/
  }

  <ThemedSection style="tertiary">
    <p class="lead">
      It may be called an escape room but we don't lock you in. You can leave at
      any time. We design around fun themes rather than stressful ones. That is
      just part of what makes our escape room accessible! The puzzles vary in
      difficulty and everyone, regardless of disability, can participate.
    </p>
    <p class="lead">
      In order to reach the most people, our escape rooms are portable and
      designed for easy setup in hotel and conference rooms. <Branding
        >The Accessible Escape Room</Branding
      > has been traveling to disability and accessibility conferences and other
      venues since 2022.
    </p>
  </ThemedSection>

  <ThemedSection>
    <h2
      >I like <strong>puzzles</strong>. I would like to <strong>play</strong
      >.</h2
    >

    <p class="lead">
      If you would like to bring an accessible escape room to your business or
      venue, we now offer two options for purchase:</p
    >

    <div
      class="d-flex flex-column flex-lg-row gap-4 py-3 justify-content-lg-center text-primary"
    >
      <ThemedBox
        theme="info"
        text={true}
        border={1}
        class="col col-lg-6 col-xl-5 shadow rounded"
      >
        <h3 class="text-white">Build-your-own Kit</h3>
        <p>Cost: <strong class="text-brand">$500</strong>.</p>
        <p>
          Our "do-it-yourself" escape rooms are lightweight and fun. What's
          included:
        </p>
        <ul class="bullets">
          <li
            >Step-by-step instructions on how to assemble the escape room
            yourself.</li
          >
          <li
            >A guide with how to run the escape room and how to accommodate
            people with various disabilties.</li
          >
          <li
            >Access to the digital content with appropriate captions and audio
            descriptions.</li
          >
        </ul>
      </ThemedBox>
      <ThemedBox
        theme="primary"
        text={true}
        border={1}
        class="col col-lg-6 col-xl-5 shadow rounded"
      >
        <h3 class="text-white">Ready-made Kit</h3>
        <p>Cost: <strong class="text-brand">$3,500</strong>.</p>
        <p>
          Our premade escape rooms have a higher level of technology and
          automation. What's included:
        </p>
        <ul class="bullets">
          <li
            >One instance of the escape room, preassembled and sent directly to
            you.</li
          >
          <li
            >A guide with how to run the escape room and how to accommodate
            people with various disabilties.</li
          >
          <li
            >Access to the digital content with appropriate captions and audio
            descriptions.</li
          >
        </ul>
      </ThemedBox>
    </div>
    <p class="lead pt-4">
      If you are interested in purchasing, please email us at <a
        href="mailto:escaperoom@accessiblecommunity.org"
        >escaperoom@accessiblecommunity.org</a
      >.
    </p>
  </ThemedSection>

  <ThemedSection theme="secondary" style="subtle">
    <h2>Our <strong>build-your-own</strong> themes.</h2>
    <div
      class="d-flex flex-column flex-lg-row gap-4 py-3 justify-content-lg-evenly text-primary"
    >
      <div class="card col col-lg-5 border border-primary shadow">
        <Image
          src={corporateBg}
          class="card-img-top"
          alt="A gentleman wearing dark clothes holding a briefcase"
          width={400}
          height={300}
        />
        <div class="card-body">
          <h3 class="card-title">A corporate <strong>conundrum</strong>.</h3>
          <p class="card-text"
            >A piece of ground-breaking technology your company has developed is
            missing. You've received a tip on how to retrieve it.</p
          >
        </div>
      </div>

      <div class="card col col-lg-5 border border-primary shadow">
        <Image
          src={bakingBg}
          class="card-img-top"
          alt="A freshly baked pie, next to a jar of flour and a rolling pin"
          width={400}
          height={300}
        />
        <div class="card-body">
          <h3 class="card-title">A baking <strong>bonanza</strong>.</h3>
          <p class="card-text"
            >You are looking for classic recipes to submit to the local fair.
            Will you find them in time to win the blue ribbon?</p
          >
        </div>
      </div>
    </div>
  </ThemedSection>

  <ThemedSection theme="secondary">
    <h2 class="text-white">Our <strong>ready-made</strong> themes.</h2>
    <div
      class="d-flex flex-column flex-lg-row gap-4 py-3 justify-content-lg-evenly text-primary"
    >
      <div class="card col col-lg-5 border border-primary shadow">
        <Image
          src={picnicBg}
          class="card-img-top"
          alt="A small picnic on a blanket"
          width={400}
          height={300}
        />
        <div class="card-body">
          <h3 class="card-title">A <strong>puzzling</strong> picnic.</h3>
          <p class="card-text"
            >Your friend has invited you for a picnic, but it's strangely
            challenging to setup. Can you figure out the clues before your
            friend arrives?</p
          >
        </div>
      </div>

      <div class="card col col-lg-5 border border-primary shadow">
        <Image
          src={casinoBg}
          class="card-img-top"
          alt="A roulette table with piles of chips"
          width={400}
          height={300}
        />
        <div class="card-body">
          <h3 class="card-title">A <strong>cryptic</strong> casino.</h3>
          <p class="card-text"
            >You have arrived for an enjoyable evening out at the local casino.
            Play games and collect chips to gain access the high roller vault.</p
          >
        </div>
      </div>
    </div>
    <p class="pt-4 text-white">
      Our prebuilt escape rooms will be available to order later this year.
      Please email us at <a
        class="link-light"
        href="mailto:escaperoom@accessiblecommunity.org"
        >escaperoom@accessiblecommunity.org</a
      > if you are interested in purchasing one.
    </p>
  </ThemedSection>

  <ThemedSection style="tertiary">
    <h2 class="mb-4">The <strong>history</strong> of our escape rooms.</h2>
    <div
      class="d-flex flex-column flex-lg-row-reverse gap-4 justify-content-lg-between align-items-center align-items-lg-start"
    >
      <div class="col col-lg-4">
        <ImageFigure
          src={brailleBlocks}
          alt=""
          caption="We have used these braille alphabet blocks from Plan Toys to successfully engage participants with visual impairment."
        />
      </div>
      <div class="col col-lg-8">
        <p class="lead">
          A few years ago, over lunch, Matt Ater and Rachael Bradley Montgomery
          joked about creating an accessible escape room. Why? Because Matt, who
          is blind, had attended his daughter's birthday party at an escape room
          and wasn't able to participate – at all! Fast forward a year and we
          were still talking about it. We realized how few individuals with
          disabilities were able to enjoy this fun activity and so decided to go
          ahead and build one. We met with Escape Room Loco in Leesburg, VA to
          learn more. Then along with a team of volunteers from Accessible
          Community, MITRE, and Vispero we built our first escape room. It had an
          espionage theme and while it wasn't perfect, everyone could participate
          in at least one puzzle, usually more. A team of all blind individuals
          who helped pilot test it had the best score of everyone!
        </p>
      </div>
    </div>
  </ThemedSection>

  <ThemedSection>
    <h2 class="mb-4"><strong>Making</strong> an accessible escape room.</h2>
    <p class="lead">
      If you would like to create an accessible escape room for your business or
      organization, here are some tips to get started.
    </p>
    <ul class="bullets">
      <li>
        Pick a theme that doesn't cause anxiety. Don't lock people in or create
        panic intentionally. Instead, create challenging puzzles in a fun
        atmosphere.
      </li>
      <li>
        Don't design puzzles to rely on a single sense. Provide hints using both
        sound and sight, preferably sound, sight and touch.
      </li>
      <li>Offer an untimed option to participants who need it.</li>
      <li>Provide accommodations when requested.</li>
      <li>
        Create a set of puzzles so that everyone can engage with at least one.
        This means at least one puzzle should take voice input.
      </li>
    </ul>
  </ThemedSection>
</EscapeRoomLayout>
