---
import { getOpenGraphImageData } from "@lib/og-image";
import type { Breadcrumbs, PageMetadata } from "@lib/types";

const title = "Accessible Escape Room";
const metadata: PageMetadata = {
  title,
  description: "Overview of the Accessible Escape Room",
  image: getOpenGraphImageData(Astro.site, "pages", "escape-room"),
};
const crumbs: Breadcrumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Services",
    href: "/services",
  },
];

import Branding from "@components/Branding.astro";
import Hero from "@components/ColumnedHero.astro";
import Image from "astro/components/Image.astro";
import Layout from "../../../layouts/Layout.astro";
import ThemedBox from "@components/ThemedBox.astro";
import ThemedSection from "@components/ThemedSection.astro";

import heroBg from "../../../images/jonathan-kemper-9tamF4J0vLk-unsplash.jpg";
import escapeRoomLogo from "src/images/escaperoomlogo-768x768.png";
---

<Layout {title} {crumbs} {metadata}>
  <Hero image={heroBg} slot="header" reverse vertical-position="22%">
    <div class="py-2 px-2" slot="heading">
      <h1 class="display-2">
        <Branding>The Accessible Escape&nbsp;Room</Branding>.
      </h1>
    </div>
    <div class="py-3">
      <p class="text-bg-hero">
        <Branding>The Accessible Escape Room</Branding> is a fun, accessible team-building
        activity. Teams of 3-10 people, with or without disabilities, 
        try to solve  puzzles to reach an objective while learning about accessibility.
      </p>
    </div>
  </Hero>

  <ThemedSection theme="secondary" style="subtle">
    <p class="lead">
      It may be called an escape room but we don't lock you in. You can leave at
      any time. We design around fun themes rather than stressful ones. That is just part of what makes our escape room accessible!  The puzzles vary in difficulty and everyone, regardless of disability, can participate. 
    </p>
    <p>
      In order to reach the most people, our escape rooms are portable and
      designed for easy setup in hotel and conference rooms. <Branding
        >The Accessible Escape Room</Branding
      > has been traveling to disability and accessibility conferences and other venues since 2022. 
    </p>
  </ThemedSection>

  <ThemedSection>
    <h2
      >I like <strong>puzzles</strong>. I would like to <strong>play</strong
      >.</h2>

      <p>We will be at CSUN and AccessU in Spring 2025 with our newest escape room. If you would like to bring an accessible escape room to your business or venue, we now offer two options for purchase. </p>

    <div
      class="d-flex flex-column flex-lg-row gap-4 py-3 justify-content-lg-center text-primary"
    >
      <ThemedBox
        theme="primary"
        text={true}
        border={1}
        class="col col-lg-6 col-xl-5 shadow rounded"
      >
        <h3 class="text-white">Standard Kit</h3>
        <p>
          Cost: <strong class="text-brand">$3,500</strong>. What's included:
        </p>
        <ul class="bullets">
          <li
            >One instance of the escape room, built and sent directly to you.</li
          >
          <li
            >A guide with how to run the escape room and how to accommodate
            people with various disabilties.</li
          >
          <li
            >Access to the digital content with appropriate captions and audio
            descriptions.</li
          >
        </ul>
      </ThemedBox>
      <ThemedBox
        theme="info"
        text={true}
        border={1}
        class="col col-lg-6 col-xl-5 shadow rounded"
      >
        <h3 class="text-white">"Build-your-own" Kit</h3>
        <p>
          Cost: <strong class="text-brand">$500</strong>. What's included:
        </p>
        <ul class="bullets">
          <li
            >Step-by-step instructions on how to assemble the escape room
            yourself.</li
          >
          <li
            >A guide with how to run the escape room and how to accommodate
            people with various disabilties.</li
          >
          <li
            >Access to the digital content with appropriate captions and audio
            descriptions.</li
          >
        </ul>
      </ThemedBox>
     <ul><li>A picnic themed escape room is available in starting in April 2025.</li>
     <li>A casino themed escape room is available starting in August 2025.</p>
     
      <p>If you are interested in purchasing, please contact <a href="mailto:escaperoom@accessiblecommunity.org">escaperoom@accessiblecommunity.org</a>.</p>
    </div>
  </ThemedSection>

  <ThemedSection style="tertiary">
    <h2>History</h2>
    <div
      class="d-flex flex-column flex-lg-row-reverse gap-4 justify-content-lg-between align-items-center"
    >
      <div class="col-3">
        <Image src={escapeRoomLogo} alt="" class="logo" aria-hidden="true" />
      </div>
      <p class="col col-lg-8">
        A few years ago, over lunch, Matt Ater and Rachael Bradley Montgomery
        joked about creating an accessible escape room. Why? Because Matt, who
        is blind, had attended his daughter's birthday party at an escape room
        and wasn't able to participate – at all! Fast forward a year and we were
        still talking about it. We realized how few individuals with
        disabilities were able to enjoy this fun activity and so decided to go
        ahead and build one. We met with Escape Room Loco in Leesburg, VA to
        learn more. Then along with a team of volunteers from Accessible
        Community, MITRE, and Vispero we built our first escape room. It had an
        espionage theme and while it wasn't perfect, everyone could participate
        in at least one puzzle, usually more. A team of all blind individuals
        who helped pilot test it had the best score of everyone!
      </p>
    </div>
  </ThemedSection>
</Layout>

<style scoped>
  .logo {
    height: auto;
    width: 100%;
  }
</style>
