---
import { getOpenGraphImageData } from "@lib/og-image";
import type { PageMetadata } from "@lib/types";
import { getCollection, type CollectionEntry } from "astro:content";
import { sortBy } from "lodash-es";

const title = "The Accessible Escape Room";
const metadata: PageMetadata = {
  title,
  description: "Overview of the Accessible Escape Room",
  image: getOpenGraphImageData(Astro.site, "pages", "escape-room"),
};

const rooms: Array<CollectionEntry<"escapeRoomThemes">> = 
  sortBy(await getCollection("escapeRoomThemes"), (room) => room.data.title);


import Branding from "@components/Branding.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import EscapeRoomLayout from "src/layouts/EscapeRoomLayout.astro";
import ThemedSection from "@components/ThemedSection.astro";
import { YouTube } from 'astro-lazy-youtube-embed'

import brailleBlocks from "src/images/escape-room/braille-blocks.png";
import woodenPuzzles from "src/images/escape-room/wooden-puzzles.png";
---

<EscapeRoomLayout {metadata} {title}>
  <ThemedSection slot="header" theme="info" py={4}>
    <div
      class="d-flex flex-column flex-lg-row gap-4 py-3 justify-content-lg-center align-items-center"
    >
      <div class="col col-lg-6 col-xl-7 text-light">
        <h1 class="visually-hidden" set:text={title}></h1>
        <p class="display-2">A fun and accessible team-building activity.</p>
        <p class="lead">
          Where teams of 3-10 people, with or without disabilities, try to solve
          puzzles to reach an objective while learning about accessibility.
        </p>
        <div class="row row-cols-1 row-cols-sm-2">
          <div class="col">
            <a
              class="link-light link-offset-1 icon-link"
              href="/services/escape-room/themes"
            >
              <Icon name="bi:puzzle-fill" class="bi"></Icon>
              Explore our rooms
            </a>
          </div>
          <div class="col">
            <a
              class="link-light link-offset-1 icon-link"
              href="/services/escape-room/how-it-works"
            >
              <Icon name="bi:tools" class="bi"></Icon>
              How the rooms work
            </a>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-5 col-xl-4 position-relative" style="height: 325px">
        <Image
          width={400}
          class="img-wp rounded position-absolute top-0 end-0"
          src={woodenPuzzles}
          alt=""
          aria-hidden="true"
        />
        <Image
          width={300}
          class="img-bb position-absolute bottom-0 start-0"
          src={brailleBlocks}
          alt=""
          aria-hidden="true"
        />
      </div>
    </div>
  </ThemedSection>

  <ThemedSection>
    <div
      class="d-flex flex-column flex-xl-row-reverse gap-5 justify-content-xl-between align-items-xl-center"
    >
      <div class="col">
        <h2 class="">I like puzzles. I would like to play.</h2>
        <p class="lead">
          It may be called an escape room but we don't lock you in. You can leave at
          any time. We design around fun themes rather than stressful ones. That is
          just part of what makes our escape room accessible! The puzzles vary in
          difficulty and everyone, regardless of disability, can participate.
        </p>
        <p class="lead">
          In order to reach the most people, our escape rooms are portable and
          designed for easy setup in hotel and conference rooms. <Branding
            >The Accessible Escape Room</Branding
          > has been traveling to disability and accessibility conferences and other
          venues since 2022.
        </p>
      </div>
      <div class="col">
        <YouTube
          class="rounded"
          title="Why have an accessible escape room?"
          videoId="-VJcG6rmavo"
        />
      </div>
    </div>
  </ThemedSection>

  <ThemedSection style="subtle" theme="secondary">
    <h2 class="text-center">Our build-your-own rooms.</h2>
    <p class="lead">
      Requests for the <Branding>Accessible Escape Room</Branding> have gone beyond
      our ability to run them. Instead, we are providing kits to build and run your
      own accessible escape room! Each kit includes information on what to purchase,
      how to build and run the escape room, and access to all the electronic files
      for the escape room you select.
    </p>
    <p class="lead">
      If you would like to bring one of our accessible escape rooms to your business
      or venue, we now offer the <a href="/services/escape-room/themes" class="link-info">following themes</a>:</p
    >
    
    <div class="row row-cols-2 g-3 align-items-stretch">
      {
        rooms.map(room => (
          <div class="col">
            <div class="card border border-dark">
              <Image
                src={room.data.image}
                class="card-img-top"
                alt={room.data.alt || null}
              />
              <div class="card-body">
                <h3 class={`card-title text-truncate text-${room.data.page.theme}`} set:text={room.data.title} />
                <p class="card-text" set:text={room.data.tagline} />
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <p class="lead pt-4">
      If you are interested in purchasing, please email us at <a
        class="link-info link-truncate"
        href="mailto:escaperoom@accessiblecommunity.org"
        >escaperoom@accessiblecommunity.org</a
      >.
    </p>
  </ThemedSection>
</EscapeRoomLayout>

<style>
  .img-wp {
    width: 80%;
    height: auto;
  }
  .img-bb {
    width: 70%;
    height: auto;
  }
  .card-img-top {
    height: auto;
  }
  .card-title {
    font-weight: 500;
    font-size: 1.3rem;
  }
  h2, h3, h4 {
    color: var(--bs-info);
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0.5em;
  }
  p.lead {
    margin-bottom: 0.75em;
  }
  a.link-light {
    --bs-link-hover-color-rgb: var(--bs-info-rgb);
  }
</style>