---
// TODO: Commented out "partner" imports and variables
// import { getCollection } from "astro:content";
import { getOpenGraphImageData } from "@lib/og-image";
import type { Breadcrumbs, PageMetadata } from "@lib/types";

// const partners = await getCollection("collaborators", ({ data }) =>
//   data.tags.includes("evaluator"),
// );
const calendlyLink =
  "https://calendly.com/evaluation-accessiblecommunity/30min";

const title = "Evaluations";
const metadata: PageMetadata = {
  title,
  description:
    "Overview of the Evaluations Service that Accessible Community provides",
  image: getOpenGraphImageData(Astro.site, "pages", "evaluations"),
};
const crumbs: Breadcrumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Services",
    href: "/services",
  },
];

import Branding from "@components/Branding.astro";
// import CollaboratorList from "@components/CollaboratorList.astro";
import ExternalLink from "@components/ExternalLink.astro";
import GoogleForm from "@components/GoogleForm.astro";
import Hero from "@components/ColumnedHero.astro";
import { Icon } from "astro-icon/components";
import Layout from "../../../layouts/Layout.astro";
import ThemedBox from "@components/ThemedBox.astro";
import ThemedSection from "@components/ThemedSection.astro";

import heroBg from "../../../images/colored-hero/woman-using-laptop.png";
import ShadowBoxSection from "@components/ShadowBoxSection.astro";
---

<Layout {title} {crumbs} {metadata}>
  <Hero image={heroBg} slot="header">
    <div class="py-2 px-2" slot="heading">
      <h1 class="display-3">
        Accessibility evaluations for <strong
          >the&nbsp;rest&nbsp;of&nbsp;us</strong
        >.
      </h1>
    </div>
    <div class="py-3">
      <p class="text-bg-hero">
        <Branding>Accessible Community</Branding> provides digital accessibility
        evaluations for websites and social media.
      </p>
      <div class="d-flex flex-column flex-xl-row gap-2">
        <a class="btn btn-info" href="#info">Get more information</a>
        <a class="btn btn-info" href={calendlyLink} target="_blank"
          >Schedule an initial consultation</a
        >
      </div>
    </div>
  </Hero>

  <ThemedSection style="tertiary">
    <h2 class="display-4 mb-3">
      Are you reaching <strong>everyone</strong> in your community?
    </h2>
    <div
      class="d-flex flex-column flex-xl-row-reverse gap-2 justify-content-xl-evenly align-items-center"
    >
      <div class="col col-xl-8 col-xxl-9">
        <p>
          <Branding class="text-primary">Accessible Community</Branding> provides small-to-medium organizations with accessibility evaluations and assistance for websites and social media. Evaluations are free for small businesses and community organizations, as well as disability-support organizations. For medium-sized businesses and organizations, we charge a small flat fee for our services.
        </p>
        <p>
          We provide several types of accessibility evaluations to meet the needs of your organization. This ranges from evaluating your website or assessing your organization's social media presence. We also provide the ability to appraise your digital messaging yourself, if you would like.
        </p>
      </div>
      <div class="col col-lg-10 col-xl-3 mx-3">
        <p
          class="display-5 text-center text-primary py-3 border-primary-subtle border-2 border-top border-bottom"
        >
          Our digital evaluations are <strong>free</strong> for <strong>small businesses</strong> and <strong>community organizations</strong>.
        </p>
      </div>
    </div>
    <p>
      After the evaluation, we provide reports based on international standards and best practices to help you know how you can reach as many people as possible with your business or mission. We encourage you to make your digital content accessible to be equitable and remove barriers for your audience.
    </p>
    <p>
      If you are interested, please <a href="#info" class="link-offset-1">fill out the information form</a> below.
    </p>
    <hr class="border border-primary-subtle opacity-100">
    <p class="small">
      <Branding class="text-primary">Accessible Community</Branding> is a nonprofit organization dedicated to growing accessible communities through socially responsible technology. We provide accessibility evaluations to smaller, community-based organizations to make digital accessibility affordable and achievable.
    </p>
  </ThemedSection>
  <ShadowBoxSection theme="info">
    <div class="text-center py-4">
      <h3 class="display-3 mx-auto">What are the <strong>options</strong>?</h3>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 gap-4 justify-content-center">
      <ThemedBox
        theme="primary"
        text={true}
        border={1}
        class="col-10 col-lg-5 shadow rounded"
      >
        <h4 class="text-white">Standard Website Evaluation</h4>
        <p>
          Cost: <strong class="text-brand">$1,500</strong>. What's included:
        </p>
        <ul class="bullets">
          <li
            >An accessibility review of up to 5 web pages, including the home
            page and global navigation</li
          >
          <li
            >A detailed report with links to additional learning about the
            issues and how to fix them</li
          >
          <li
            >Two hours of consulting to review findings and assist in fixing
            issues</li
          >
          <li>
            Access to three additional hours of support and training to prepare
            for next steps
            <ul class="small">
              <li>Additional hours of support are $100/hour</li>
            </ul>
          </li>
        </ul>
      </ThemedBox>
      <ThemedBox
        theme="primary"
        style="subtle"
        text
        border={1}
        class="col-10 col-lg-5 shadow rounded"
      >
        <h4 class="fw-bold">Social Media Evaluation</h4>
        <p>
          Cost: <strong class="text-brand">$750</strong>. What's included:
        </p>
        <ul class="bullets">
          <li
            >A accessibility review of up to 3 social media platforms, including
            the organization pages, content and a sampling of 10-20 posts</li
          >
          <li
            >A detailed report with links to additional learning about the
            issues and how to fix them</li
          >
          <li
            >One hour of consulting to review findings and assist in fixing
            issues</li
          >
          <li>
            Access to one additional hour of support and training
            <ul class="small">
              <li>Additional hours of support are $100/hour</li>
            </ul>
          </li>
        </ul>
      </ThemedBox>
      <ThemedBox
        theme="secondary"
        text={true}
        border={1}
        class="col-10 col-xl-8 shadow rounded"
      >
        <h4 class="text-white">Self-Evaluation</h4>
        <p>Cost: <strong class="text-brand">$0</strong>.</p>
        <p>
          We also provide <ExternalLink
            href="https://www.ta11y.org"
            class="link-light link-offset-1"
            inline
            gaps
            ><Icon
              name="ta11y-logo"
              role="img"
              aria-hidden="true"
              class="bi"
            /><Branding text="ta11y.org" /></ExternalLink
          >, a tool that will help you evaluate your digital content and learn
          more about accessibility. This evaluation tool will guide you
          step-by-step through an accessibility evaluation of your website,
          social media and other online content. It is designed specifically for
          those with little-to-no accessibility experience.
        </p>
        <p>
          <a href="/services#ta11y" class="link-light link-offset-1">
            Read more about <Branding text="ta11y.org" /></a
          >
          to see if this free solution is for you.
        </p>
      </ThemedBox>
    </div>
  </ShadowBoxSection>

  <ThemedSection id="info" theme="secondary" style="subtle" text={true}>
    <h2 class="display-4">What are the <strong>next steps</strong>?</h2>
    <GoogleForm
      id="info-form"
      key="AKfycbxQZFm7FIKQabNEmwXbKdUh3IdMUY8efL4e8bEmkK_9rPvH6cUPrdNdQrIN6eMK-vI"
      >
      <div slot="prelude">
        <p>
          Contact us for more information using the form below or 
          <ExternalLink href={calendlyLink}>schedule an Accessibility Consultation</ExternalLink>.
        </p>
        <h3 class="visually-hidden">Information form</h3>
      </div>
      <div class="row justify-content-lg-between">
        <div class="col-lg-5">
          <div class="mb-3">
            <label for="nameField" class="form-label mb-1 required-field"
              >Your Name</label
            ><span class="asterisk"></span>
            <input
              type="text"
              name="Name"
              class="form-control w-100 form-field"
              id="nameField"
              autocomplete="name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="orgNameField" class="form-label mb-1 required-field"
              >Organization Name</label
            ><span class="asterisk"></span>
            <input
              type="text"
              name="OrgName"
              class="form-control w-100 form-field"
              id="orgNameField"
              autocomplete="name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="emailField" class="form-label mb-1 required-field"
              >Email Address</label
            ><span class="asterisk"></span>
            <input
              type="email"
              name="Email"
              class="form-control w-100 form-field"
              id="emailField"
              autocomplete="email"
              required
            />
          </div>
        </div>
        <div class="col-lg-6 mb-3">
          <div class="mb-3">
            <label for="phoneNumberField" class="form-label mb-1"
              >Phone Number</label
            >
            <input
              type="text"
              name="PhoneNumber"
              class="form-control w-100 form-field"
              id="phoneNumberField"
              autocomplete="tel"
            />
          </div>
          <label for="messageTextarea" class="form-label mb-1 required-field"
            >Message or Questions</label
          ><span class="asterisk"></span>
          <textarea
            name="Message"
            class="form-control w-100 form-text-area"
            id="messageTextarea"
            aria-describedby="messageHelp"
            rows="4"
            required></textarea>
          <div id="messageHelp" class="form-text">
            Please indicate what level of service you are interested in, as well
            as any questions you have about the services we provide or the
            organization itself.
          </div>
        </div>
      </div>
    </GoogleForm>
  </ThemedSection>
</Layout>

<style>
  .bullets {
    padding-inline-start: 1.5em;
  }
  .small {
    font-size: 90%;
  }
  h4.text-white {
    font-weight: 600;
  }
</style>
